{{#partial "page"}}

{{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}

<main class="page">
    <section class="page-content page-content--centered">
        <h1 class="page-heading">{{lang 'page_not_found.page_heading'}}</h1>
        <center>
            <img src="http://cdn3.bigcommerce.com/s-l85bzww3lo/templates/__custom/images/404KeypadImage.jpg?t=1502721971" width="865" height="416">
        </center>
        <p class="u-textAlignCenter">
            {{lang 'page_not_found.message'}}
        </p>
        {{> components/common/search-box}}
    </section>
</main>

{{/partial}}
{{> layout/base}}
