{{#if banners.bottom}}
<div class="banners" data-banner-location="bottom">
    <div class="banner">
        {{{limit banners.bottom 1}}}
    </div>
</div>
{{/if}}
<footer class="footer" role="contentinfo">
    <div class="container">
        {{#if theme_settings.social_icon_placement_bottom '!==' 'bottom_none'}}
            <article class="footer-info-col
                footer-info-col--social
                footer-info-col--{{#if theme_settings.social_icon_placement_bottom '===' 'bottom_left'}}left{{else}}right{{/if}}"
                data-section-type="footer-webPages">
                    <h5 class="footer-info-heading">{{lang 'social.connect'}}</h5>
                    {{> components/common/social-links}}
            </article>
        {{/if}}
        <section class="footer-info">
            <!--<article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">{{lang 'footer.navigate'}}</h5>
                <ul class="footer-info-list">
                    {{#each pages}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    <li>
                        <a href="{{urls.sitemap}}">{{lang 'sitemap.page_title'}}</a>
                    </li>
                </ul>
            </article>-->

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-categories">
                <h5 class="footer-info-heading">Products</h5>
                <ul class="footer-info-list main-footer-links">
                    <!--{{#each categories}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}-->
                    <li><a href="/desks/">Standing Desks</a></li>
                    <li><a href="/frames/">Desk Frames</a></li>
                    <li><a href="/desk-converters/">Desk Converters</a></li>
                    <li><a href="/accessories/">Accessories</a></li>
                    <li><a href="/chairs/">Chairs</a></li>
                    <li><a href="/warranty/">Warranty</a></li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">Learn More</h5>
                <ul class="footer-info-list main-footer-links">
                    <li><a href="/about/">About Us</a></li>
                    <li><a href="/reviews/">Reviews</a></li>
                    <li><a href="/videos/">Videos</a></li>
                    <li><a href="/photo-gallery/">Photo Gallery</a></li>
                    <li><a href="/enviromental/">Environmental</a></li>
                    <li><a href="/resources/" >Resources</a></li>
                </ul>
            </article>

            <article class="footer-info-col footer-info-col--small" data-section-type="footer-webPages">
                <h5 class="footer-info-heading">Contact Us</h5>
                <ul class="footer-info-list main-footer-links">
                    <li><a href="/contact-us/">Contact</a></li>
                    <li><a href="#" onclick="LC_API.open_chat_window();return false;">Chat</a></li>
                    <li><a href="/sales/">Corporate Sales</a></li>
                    <li><a href="/sales/#finance-info">Financing</a></li>
                    <li><a href="/shipping-and-returns/">Shipping &amp; Returns</a></li>
                    <li><a href="http://www.thehumansolution.com/blog/" target="_blank" >Blog</a></li>
                </ul>
            </article>

            <!--{{#if theme_settings.shop_by_brand_show_footer}}
            <article class="footer-info-col footer-info-col--small" data-section-type="footer-brands">
                <h5 class="footer-info-heading">{{lang 'footer.brands'}}</h5>
                <ul class="footer-info-list">
                    {{#each shop_by_brand}}
                        <li>
                            <a href="{{url}}">{{name}}</a>
                        </li>
                    {{/each}}
                    <li><a href="{{urls.brands}}">{{lang 'common.view_all'}}</a></li>
                </ul>
            </article>
            {{/if}}-->

            <article class="footer-info-col footer-info-col--small" data-section-type="storeInfo">
                <h5 class="footer-info-heading">Location</h5>
                <address>{{nl2br settings.address}}</address>
                <h5 class="footer-info-heading">Hours</h5>
                <ul class="footer-info-list">
                    <li>Mon-Fri 8am-7pm</li>
                    <li>Mon-Fri 8am-7pm</li>
                {{#if settings.phone_number}}
                    <li>{{lang 'footer.call_us' phone_number=settings.phone_number}}</li>
                {{/if}}
            </article>

            <article class="footer-info-col" data-section-type="newsletterSubscription">
                {{#if settings.show_newsletter_box}}
                    {{> components/common/subscription-form}}
                {{/if}}
                {{> components/common/social-links}}
            </article>
        </section>
        {{#if theme_settings.geotrust_ssl_common_name}}
            <div class="footer-geotrust-ssl-seal">
                {{> components/common/geotrust-ssl-seal}}
            </div>
        {{/if}}
        {{#if theme_settings.show_powered_by}}
            <div class="footer-copyright">
                <p class="powered-by">Powered by <a href="https://www.bigcommerce.com/" rel="nofollow">BigCommerce</a></p>
            </div>
        {{/if}}
        {{#if theme_settings.show_copyright_footer}}
            <div class="footer-copyright text-center">
                <p class="powered-by">Copyright 2003-{{moment format="YYYY"}} SquareGrove&copy; LLC, all rights reserved </p>
            </div>
        {{/if}}
    </div>
</footer>
