{{#if banners.top}}
<div class="banners" data-banner-location="top">
    <div class="banner">
        {{{limit banners.top 1}}}
    </div>
</div>
{{/if}}
<header class="header" role="banner">
    <div class="top-menu">
        <div class="top-menu-inner">
            <div class="free-shipping"><span>FREE SHIPPING</span> ON ALL ORDERS</div>
            <div class="phone-contact"><svg class=""><use xlink:href="#icon-header-phont-icon" /></svg>{{lang 'footer.call_us' phone_number=settings.phone_number}}</div>
            <div class="chat-contact"><svg class=""><use xlink:href="#icon-header-chat-icon" /></svg>Live Chat</div>
        </div>
    </div>

    <div class="bottom-menu">

        <a href="#" class="mobileMenu-toggle" data-mobile-menu-toggle="menu">
            <span class="mobileMenu-toggleIcon">Toggle menu</span>
        </a>

        {{> components/common/navigation}}

        {{#if template_file '===' 'pages/home'}}
            <h1 class="header-logo header-logo--{{theme_settings.logo-position}}">
                {{> components/common/store-logo}}
            </h1>
        {{else}}
            <div class="header-logo header-logo--{{theme_settings.logo-position}}">
                {{> components/common/store-logo}}
            </div>
        {{/if}}


        <div class="navPages-container" id="menu" data-menu>
            {{> components/common/navigation-menu-custom}}
        </div>
    </div>

    {{> components/common/menu-drop-custom}}

</header>
