<div id="ShopMenu" class="modal modal--large" data-reveal>
    <div class="nav-left-block">
        <div class="left-nav-wrap">
            <h4>Products</h4>
            <ul>
                <li><a href="/adjustable-height-desks/">Standing Desks</a></li>
                <li><a href="/standing-desk-converters/">Desk Converters</a></li>
                <li><a href="/adjustable-height-frames/">Desk Frames</a></li>
                <li><a href="/desktops/">Desktops Only</a></li>
                <li><a href="/ergonomic-chairs-and-stools/">Chairs &amp; Stools</a></li>
                <li><a href="/desk-accessories/">Accessories</a></li>
                <li><a href="/uplift-desk-power-data-link/">Power &amp; Data Link</a></li>
            </ul>
        </div>
    </div>
    <div class="nav-menu-block"><img src="{{cdn "webdav:img/header/uplift-desk-shop-drop-down-bamboo-desk.jpg"}}" alt="A woman uses a bamboo stand up desk">
        <div class="menu-block-btm">
            <div class="nav-block-overlay"></div>
            <div class="nav-block-txt-wrap">
                <h4>Featured</h4>
                <h2>1" Bamboo<br> Standing Desk</h2>
                <a href="/stand-up-desk-with-bamboo-top/"><button class="button button--blue">Buy Now</button></a>
            </div>
        </div>
    </div>
    <div class="nav-menu-block"><img src="{{cdn "webdav:img/header/uplift-desk-shop-drop-down-lift-standing-converter.jpg"}}" alt="A man adjusts a standing desk converter">
        <div class="menu-block-btm">
            <div class="nav-block-overlay"></div>
            <div class="nav-block-txt-wrap">
                <h4>Featured</h4>
                <h2>Adapt X<br> Converter</h2>
                <a href="/uplift-adapt-x-desktop-converter/"><button class="button button--blue">Buy Now</button></a>
            </div>
        </div>
    </div>
    <div class="nav-menu-block"><img src="{{cdn "webdav:img/header/uplift-desk-shop-drop-down-pursuit-ergonomic-office-chair.jpg"}}" alt="Office worker in an ergonomic chair">
        <div class="menu-block-btm">
            <div class="nav-block-overlay"></div>
            <div class="nav-block-txt-wrap">
                <h4>Featured</h4>
                <h2>Pursuit<br> Ergonomic Chair</h2>
                <a href="/uplift-pursuit-ergonomic-chair/"><button class="button button--blue">Buy Now</button></a>
            </div>
        </div>
    </div>

</div>

<div id="ResourceMenu" class="modal modal--large" data-reveal data-reset-on-close="true">
    <div class="nav-left-block">
        <div class="left-nav-wrap">
            <h4>Resources</h4>
            <ul>
                <li><a href="/ergonomic-gaming-desk/">Gaming Desk</a></li>
                <li><a href="/sit-stand-crafting-table/">Crafting Table</a></li>
                <li><a href="/videos/">Video Gallery</a></li>
                <li><a href="/photo-gallery/">Photo Gallery</a></li>
                <li><a href="/enviromental/">Environmental</a></li>
                <li><a href="/content/uplift-desktop-brochure.pdf" target="_blank">Brochure</a></li>
            </ul>
        </div>
    </div>
    <div class="nav-menu-block-half">
        <a href="/ergonomic-gaming-desk/"><div class="resource-top">
            <div class="nav-text-wrap"><h2>UPLIFT Gaming Desk</h2></div>
            <img src="{{cdn "webdav:img/header/uplift-desk-resource-drop-down-gaming-desk.jpg"}}" alt="Gamer at an ergonomic gaming desk"></div></a>
        <div class="resource-bottom"><div class="youtube" id="fvYKiDYBsNs"><div class="std-overlay"></div></div></div>
    </div>
    <div class="nav-menu-block-half">
        <div class="resource-top"><div class="youtube" id="CfAWLYvf5tQ"><div class="std-overlay"></div></div></div>
            <a href="/uplift-desk-power-data-link/"><div class="nav-block-half resource-bottom"><img src="{{cdn "webdav:img/header/uplift-desk-resource-drop-down-flexible-office.jpg"}}" alt="A flexible office setup with multiple height adjustable desks"><div class="nav-text-wrap"><h2>Flexible Office</h2></div></div></a>
            <a href="/sit-stand-crafting-table/"><div class="nav-block-half resource-bottom"><img src="{{cdn "webdav:img/header/uplift-desk-resource-drop-down-crafting-table.jpg"}}" alt="Supplies on a sit stand crafting table">
            <div class="nav-text-wrap"><h2>Crafting Table</h2></div></div></a>
    </div>
</div>
