
<ul class="socialLinks">
    <li id="email-share" class="socialLinks-item">
        <a href="mailto:?Subject=The Human Solution Store&body=$$"><svg class="icon"><use xlink:href="#icon-envelope"/></svg></a>
    </li>
    <li id="print-share" class="socialLinks-item" onClick="window.print();">                           
        <svg class="icon"><use xlink:href="#icon-print"/></svg>
    </li>
    <li id="twit-share" class="socialLinks-item social-action" onClick="shareMe('http://twitter.com/intent/tweet?status=Awesome Ergonomics !+ $$')">                            
        <svg class="icon"><use xlink:href="#icon-twitter"/></svg>
    </li>
    <li id="face-share" class="socialLinks-item social-action" onClick="shareMe('http://www.facebook.com/sharer/sharer.php?u=$$');">                            
        <svg class="icon"><use xlink:href="#icon-facebook"/></svg>
    </li>
    <li id="pint-share" class="socialLinks-item social-action" onClick="shareMe('http://pinterest.com/pin/create/bookmarklet/?media=https://cdn3.bigcommerce.com/s-l85bzww3lo/product_images/uploaded_images/ecoDesktopGirl.jpg&is_video=false&url=$$')">                           
        <svg class="icon"><use xlink:href="#icon-pinterest"/></svg>
    </li>
    <li id="goog-share" class="socialLinks-item social-action" onClick="shareMe('https://plus.google.com/share?url=$$')">
        <svg class="icon"><use xlink:href="#icon-google"/></svg>
    </li>
</ul>
