---
products:
    new:
        limit: {{theme_settings.homepage_new_products_count}}
    featured:
        limit: {{theme_settings.homepage_featured_products_count}}
    top_sellers:
        limit: {{theme_settings.homepage_top_products_count}}
carousel: {{theme_settings.homepage_show_carousel}}
blog:
    recent_posts:
        limit: {{theme_settings.homepage_blog_posts_count}}
---
{{#partial "hero"}}
<div class="home-parallax">      
    <div class="fullscreen-bg">
        <div class="home-page-top">
            <h2>Your Desk, Your Design</h2></span>
            <h3>With an Industry Leading 7-Year Warranty</h3>
            <p><strong>Wired</strong> and <strong>Lifehacker</strong> rate our desk number one!</p>
            <a href="/adjustable-height-desks/"><button class="button button--blue">Build My Desk</button></a>
        </div>
        <div class="home-bg-img"></div>
        <video loop muted autoplay poster="content/img/home/home-background.jpg" class="fullscreen-bg__video">
            <source src="/template/media/home-background.mp4" type="video/mp4">
            <source src="/template/media/home-background.webm" type="video/webm">
            <source src="/template/media/home-background.ogv" type="video/ogg">
        </video>
    </div>
</div> 
<div class="home-sections-wrap full-width-wrapper full-width-l-r">

    <div class="row expanded collapse flex-row white-bg animate-1">
        <div class="small-12 large-7 columns hide-left-img middle-just">
            <img class="lazyload" data-src="{{cdn "webdav:img/home/homepage-who-are-we-uplift-solid-wood-desk.jpg"}}">
        </div>
        <div class="small-12 large-5 columns middle-just">
            <div class="hide-down-txt middle-just-inner-r">
                <h2>WHO ARE WE?</h2>
                <p>For more than a decade, we’ve been at the forefront of the standing desk movement. We have been manufacturing products with the best in locally and globally sourced components here in Austin, Texas, since 2002.</p>
                <p>We design all of our products so you can customize and build your dream office at an affordable price. Our aluminum and steel frames, reclaimed solid wood desktops, monitor arms, stools, task lights, and other products are optimized to work well together. It's time to UPLIFT your work day.</p>
                <a href="/about/"><button class="button button--primary">Learn More</button></a>
            </div>
        </div>
    </div>

    <div class="row expanded collapse flex-row blue-bg animate-2">
        <div class="small-12 large-5 columns middle-just">
            <div class="hide-down-txt middle-just-inner-l">
                <h2>LET'S BUILD IT TOGETHER</h2>
                <p>Your desk is where you work and create, so it’s important that it’s built to your specification. That’s why we offer a wide range of desktop materials, useful accessories and expert advice. But when off-the-shelf options aren’t enough, we’ll happily work with you to make the height adjustable desk you need. Choose from 100 percent recycled wood desktops in our Eco line. Or, consider a <a href="http://site.thehumansolution.com/UPLIFT/greenguard-certified-laminate.pdf">GREENGUARD-certified</a> laminate desktop, which provides excellent value while being indoor-air friendly and environmentally sound.</p>
                <a href="/adjustable-height-desks/"><button class="button button--primary">Learn More</button></a>
            </div>
        </div>
        <div class="small-12 large-7 columns text-right hide-right-img">
            <img class="lazyload" data-src="{{cdn "webdav:img/home/homepage-lets-build-together-eco-laminate-desktop-stack.jpg"}}">
        </div>
    </div>

    {{#if carousel}}
        {{> components/carousel}}
    {{/if}}

    <div class="row expanded collapse flex-row blue-bg frame-animation-cover animate-3">
        <div class="small-12 large-7 columns hide-left-img">
            <img class="lazyload" data-src="{{cdn "webdav:img/home/homepage-adapt-your-desk-front-clamp-converter-by-uplift-desk.jpg"}}">
        </div>
        <div class="small-12 large-5 columns middle-just">
            <div class="hide-down-txt middle-just-inner-r">
                <h2>ADAPT YOUR DESK</h2>
                <p>Transform your existing workstation with the UPLIFT Adapt Height Adjustable Standing Desk Converter. Simple and easy pneumatic adjustments bring your monitor and keyboard to your preferred sitting and       standing positions seamlessly, and without the need for an outlet. They're perfect for use with fixed-height desks and cubicle workstations that could use personalized height adjustments without building from scratch.</p>
                <a href="/standing-desk-converters/"><button class="button button--primary">Learn More</button></a>
            </div>
        </div>
    </div>

    <div class="row expanded collapse flex-row white-bg animate-4">
        <div class="small-12 large-5 columns middle-just">
            <div class="hide-down-txt middle-just-inner-l">
                <h2>ACCESSORIES THAT MATTER</h2>
                <p>Once you've customized your perfect sit stand desk, take it to the next level with innovative accessories. Our ergonomist designs all accessories to enhance the functionality, quality, and value of your desk. We have in-desk power grommets with convenient electric outlets, single and dual monitor arms with fingertip adjustability, task lights with personalized lighting levels, cable management kits with all the wire organizers you could want, and much more.</p>
                <a href="/desk-accessories/"><button class="button button--primary">Learn More</button></a>
            </div>
        </div>
        <div class="small-12 large-7 columns text-right hide-right-img">
            <img class="lazyload" data-src="{{cdn "webdav:img/home/homepage-accessories-that-matter-drawer-tray-bamboo.jpg"}}">
        </div>
    </div>

    <div class="row expanded collapse full-width-img-bg">
        <div class="small-12 columns hero-top">
            <img class="lazyload" data-src="{{cdn "webdav:img/home/homepage-diy-a-ok-wood-carving-supplies-background-image.jpg"}}">
            <div class="hero-top-title-right white-txt">
                <h2>DIY STANDING DESKS? A-OK</h2>
                <p>Have a desktop you just can’t bear to lose? Or do you prefer to make your own top? We’ve got you covered.
                    The UPLIFT height adjustable desk frame is compatible with any desk at least one inch thick. Our frames
                    lift 355 pounds to start and the telescoping crossbar accommodates desktops up to 90 inches wide and
                    30 inches deep, so if you can build it, we can handle it.</p>
                <p>With frames available in 2-leg, 3-leg, and 4-leg configurations, we work with almost any size and shape desktop.
                    And if you don’t see what you're looking for, just ask our experts and we'll find a solution.</p>
                <a href="/adjustable-height-frames/"><button class="button button--primary">Learn More</button></a>
            </div>
        </div>
    </div>

    {{> components/frame-animate}}

    <div class="row expanded collapse flex-row blue-bg animate-5">
        <div class="small-12 large-5 columns middle-just">
            <div class="hide-down-txt middle-just-inner-l">
            <h2>THE KEY TO A HEIGHT ADJUSTABLE DESK</h2>
            <p>Our advanced digital memory keypad stores up to four heights, allowing you to switch between sitting and standing with a quick touch of a button. Your exact desk height is shown on a display that automatically goes dark to reduce power draw while the desk is stationary. This advanced keypad is an upgrade to the standard two-button up/down keypad.</p>
            <a href="/adjustable-height-desks/"><button class="button button--primary">Learn More</button></a>
            </div>
        </div>
        <div class="small-12 large-7 columns text-right hide-right-img">
            <img class="lazyload" data-src="{{cdn "webdav:img/home/homepage-key-to-height-adjustable-desk-advanced-keypad.jpg"}}">
        </div>
    </div>

    <div class="row expanded collapse flex-row white-bg animate-6">
        <div class="small-12 large-7 columns hide-left-img middle-just">
            <img class="lazyload" data-src="{{cdn "webdav:img/home/homepage-ships-fast-and-free-douglas-fir-box.jpg"}}">
        </div>
        <div class="small-12 large-5 columns middle-just">
            <div class="hide-down-txt middle-just-inner-r">
            <h2>SHIPS FAST AND FREE</h2>
            <p>Everything ships free to any address in the United States, excluding Alaska and Hawaii. Rest assured that the price we list on stand-up desks and accessories is the price you'll pay. For your convenience, we also offer delivery upgrades such as room of choice desk installation. Each order is checked for quality, packed with care and shipped from our Austin warehouse.</p>
            <a href="/shipping-and-returns/"><button class="button button--primary">Learn More</button></a>
            </div>
        </div>
    </div>

    <div class="row expanded collapse full-width-img-bg">
        <div class="small-12 columns hero-top">
            <img class="lazyload" data-src="{{cdn "webdav:img/home/homepage-eco-friendly-ergonomics-bamboo-background-image.jpg"}}">
            <div class="hero-top-title white-txt">
                <h2>ECO-FRIENDLY ERGONOMICS</h2>
            <p>We responsibly source eco-friendly materials. We feature 100% recycled wood desktops, bamboo desktops, reclaimed wood desktops, and GREENGUARD-certified laminate desktops. Each one of our desktops is finished in either a GREENGUARD-certified technique or in another non-volatile, indoor air-safe method. Our monitor arm beams and desk frame feet are made of 100% aluminum for optimal stiffness and the ability to be recycled.</p>
            <a href="/enviromental/"><button class="button button--primary">Learn More</button></a>
            </div>
        </div>
    </div>

    <div class="row expanded collapse flex-row white-bg animate-7">
        <div class="small-12 large-7 columns hide-left-img middle-just">
            <img class="lazyload" data-src="{{cdn "webdav:img/home/homepage-take-a-seat-motion-stool.jpg"}}">
        </div>
        <div class="small-12 large-5 columns middle-just">
            <div class="hide-down-txt middle-just-inner-r">
            <h2>TAKE A SEAT</h2>
            <p>Standing all day puts stress on your body just as sitting all day does. We recommend you start your day standing, sit when your feet get tired, and limit sitting to 30 minute sessions. Most studies are now recommending 2-4 hours of standing per 8 hour day. As a bonus, you burn about 50 extra calories per hour when you're standing versus sitting. We offer a full line of ergonomic chairs and stools to help you take a load off throughout the day. And remember, with height adjustability, you'll finally get to work at perfect sitting and standing heights without compromise.</p>
            <a href="/chairs/"><button class="button button--primary">Learn More</button></a>
            </div>
        </div>
    </div>

    <div class="row expanded collapse flex-row blue-bg animate-8">
        <div class="small-12 large-5 columns middle-just">
            <div class="hide-down-txt middle-just-inner-l">
            <h2>UNPARALLELED SERVICE</h2>
            <p>We understand that your purchase means that you’ll be enjoying your UPLIFT Desk for many hours per week. You’re going to make us a large part of your work life and we'd like to return the favor. That's why our desks come with a free, industry-leading, 7-year warranty and around-the-clock support.</p>
            <a href="/contact-us/"><button class="button button--primary">Learn More</button></a>
            </div>
        </div>
        <div class="small-12 large-7 columns text-right hide-right-img">
            <img class="lazyload" data-src="{{cdn "webdav:img/home/homepage-unparalleled-service.jpg"}}">
        </div>
    </div>

</div>

<div class="clear"></div>

    {{{snippet 'home_content'}}}
{{/partial}}

{{#partial "page"}}


{{/partial}}
{{> layout/base-homepage}}