// =============================================================================
// HEADER (CSS)
//
// 1. Setting font size of header-logo to 0, since wrapper element may vary, and
//    inline-block whitespace messes with header height. Font-size is reset to
//    appropriate size on header-logo-text.
// 2. Needs left/right margin so it doesn't cover left/right nav bar toggles
// 3. Offset the letter-spacing on the last character by adding a right negative
//    margin. This centers the text logo properly.
// 4. When the word "cart" is added to the mobile header's cart link, add more
//    margin to compensate.
//
// -----------------------------------------------------------------------------

.header {
    font-family: $fontFamily-headings;
    background-color: $header-bg;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: zIndex("low");
    transition: all .3s ease-out;

    .bottom-menu {
        background-color: $header-bg;
        position: relative;
        transition: all .3s ease-out;
    }

    @include breakpoint("medium") {
        overflow: visible;
    }

    &.is-open {
        height: 100%;

        @include breakpoint("medium") {
            height: auto;
        }
    }
}

header.header.search-is-open {
    position: relative;
}

.body.search-is-open {
    opacity: .3;
}

header.header.search-is-open.scroll-header {
    opacity: 1;
}

.home-page-header header, .home-page-header .bottom-menu {
    background: transparent;
}

.top-menu{
    display:none;
    padding: .50rem 0;
    background-color:$color-grey;
    color:$color-white;
    letter-spacing: $letterSpacing-small;
    transition:.3s ease-in-out;
    font-size: 16px;
    transition: .4s ease;
    height: 38px;
    .top-menu-inner{
        margin: 0 remCalc($header-toggle-width); // 2
    }
    @include breakpoint("medium") {
        display:block;
    }
    
    .free-shipping {
        display: inline-block;
        span{
            font-weight: $fontWeight-bold;
        }
        
    }
    .chat-contact, .phone-contact {
        float: right;
        position: relative;
        bottom: 1px;
    }
    .chat-contact {
        margin-right: 32px
    }

    svg {
        height:25px;
        width:25px;
        fill:$color-white;
        vertical-align: middle;
        margin-right: .4rem;
    }
}

.home-page-header header.header.scroll-header{
    background:#353332;
}

.header-logo img {
    transition:.3s ease-in-out;
    width: 100%
}

.scroll-header {
    opacity:0.9;
    .top-menu{
        padding: 0;
        height: 0px;
    }
    .bottom-menu{
        background-color: $color-black;
    }
    // .header-logo{
    //     padding: 0.5rem 0;
    // }
    // .navUser-action{
    //     padding:.1rem 0.78571rem;   
    // }
    // .navPages {
    //    padding: 0; 
    // }
    // .header-logo img {
    //     width: 60%;
    // }
    .dropdown--quickSearch.is-open{
        top: 48px !important;
    }
}

.header-logo {
    transition:.3s ease-in-out;
    font-size: 0;   // 1
    margin: 0 6.92857rem;; // 2
    text-align: left;

    @include breakpoint("small") { // 4
        margin-right: remCalc($header-toggle-width * 2);
    }

    @include breakpoint("medium") {
        //margin: (spacing("double") + spacing("base")) auto (spacing("double") + spacing("single"));
        padding: 1rem 0 0;
        float: left;
        .header.fixed & {
            background-color: color("greys", "lightest");
            margin: 0;
            padding: spacing("quarter") 0;
            position: absolute;
            top: 0;
            width: 100%;
        }
    }

    > a {
        @include clearfix;
        color: $storeName-color;
        display: inline-block;
        padding: $header-logo-paddingVertical 0;
        position: relative;
        text-decoration: none;
        width: 100%;
        z-index: zIndex("low");

        // scss-lint:disable NestingDepth
        @include breakpoint("medium") {
            background: none;
            border-bottom: 0;
            display: inline;
            padding: 0;
        }

        &:hover {
            color: color("link", "hover");
        }

        &:active {
            color: color("link", "active");
        }
    }
}

.header-logo--left {
    text-align: left;

    @include breakpoint("medium") {
        margin-left: remCalc(40px);
    }
}

.header-logo--right {
    text-align: right;

    @include breakpoint("medium") {
        margin-right: remCalc(40px);
    }
}

.header-logo-text {
    display: block;
    font-family: $fontFamily-hero;
    font-size: $fontSize-logo-small;   // 1
    font-weight: stencilFontWeight("logo-font");
    letter-spacing: remCalc(5px);
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
    padding: remCalc(3px) 0;
    text-overflow: ellipsis;
    text-transform: uppercase;
    white-space: nowrap;

    @include breakpoint("small") {
        font-size: $fontSize-logo-medium;
        letter-spacing: remCalc(9px);
        padding-bottom: 0;
        padding-top: 0;
    }

    @include breakpoint("medium") {
        display: inline;
        font-size: $fontSize-logo-large;
        margin-left: 0;
        margin-right: -(remCalc(9px)); // 3
        max-width: none;
        overflow: auto;
        white-space: normal;

        .header.fixed & {
            font-size: fontSize("larger");
        }
    }
}

.header-logo-image {
    max-height: remCalc($header-height) - $header-logo-marginVertical * 2;

    @include breakpoint("medium") {
        max-height: none;
    }
}

//
// Mobile Menu Toggle
//
// 1. Animate lines from 'x' to hamburger
// -----------------------------------------------------------------------------

.mobileMenu-toggle {
    @include square($header-toggle-width);
    display: inline-block;
    font-size: 0;
    left: 0;
    overflow: hidden;
    padding: 0 remCalc(18);
    position: absolute;
    z-index: zIndex("high");

    @include breakpoint("medium") {
        display: none;
    }

    .mobileMenu-toggleIcon,
    .mobileMenu-toggleIcon::before,
    .mobileMenu-toggleIcon::after {
        background: $color-white;
        content: "";
        display: block;
        height: 2px;
        position: absolute;
        transform: rotate(0deg);
        transition: transform 100ms ease-in, top 100ms ease-in 150ms, bottom 100ms ease-in 150ms; // 1
        width: remCalc(20);
    }

    .mobileMenu-toggleIcon {
        top: remCalc(27);
        transition: background-color 10ms ease-in 100ms;
    }

    .mobileMenu-toggleIcon::before {
        top: -0.5rem;
    }

    .mobileMenu-toggleIcon::after {
        bottom: -0.5rem;
    }

    &.is-open .mobileMenu-toggleIcon {
        background-color: transparent;
        transition-delay: 100ms;

        // scss-lint:disable NestingDepth
        &::before,
        &::after {
            background-color: $color-white;
            bottom: auto;
            top: auto;
            transition: transform 100ms ease-in 150ms, top 100ms ease-in, bottom 100ms ease-in; // Animate lines from hamburger to 'x'
        }

        &::before {
            top: 0;
            transform: rotate(45deg);
        }

        &::after {
            bottom: 0;
            transform: rotate(-45deg);
        }

    }
}
