// =============================================================================
// VIDEO GALLERY
// =============================================================================

.videoGallery-main {
    @include flex-video-container();
    margin-bottom: $videoGallery-spacing;
}

.videoGallery-list {
    @include u-listBullets("none");
    @include grid-row($behavior: "nest");
    font-size: 0;
}

.videoGallery-item {
    @include grid-column(12);
    display: inline-block;
    float: none;
    vertical-align: top;

    @include breakpoint("medium") {
        width: grid-calc(6, $total-columns);
    }
}

.video {
    @include media;
    display: block;
    margin-bottom: $videoGallery-spacing;
    opacity: 0.4;
    text-decoration: none;
    transition: opacity 100ms ease-out;

    @include breakpoint("medium") {
        margin-bottom: $videoGallery-spacing;
    }

    &:hover,
    &.is-active {
        color: color("greys", "darker");
        opacity: 1;
    }
}

.video-figure {
    margin-right: $videoGallery-spacing;
}

.video-title {
    margin-bottom: 0;
    margin-top: 0;
    text-transform: none;
}

.video-description {
    font-size: fontSize("base");
    margin-bottom: 0;
}

//Customizations

#ModalVideoGallery {
    background-color: transparent;
    width:50%;
        button {
        display:none;
    }
}

.video-slider {
    margin-bottom: 0;
    .video-body {
    margin-top: 1rem;
    h5 {
    color:#fff;
    }
    }
}

.video-carousel-buttons {
    position: relative;
    h4 {
    color: #fff;
    margin-top: 0;
}
    ul{
        position:relative;
        text-align: left;
        bottom:0;
    }
    li{
        display:inline-block;
        width: 100%;
        color:#fff;
        line-height: 1.2;
    }
    li.slick-active{
        color:blue;
    }

}

.youtube {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.play {
    background: url(//cdn6.bigcommerce.com/s-492apnl0xy/templates/__custom/images/PlayButtonNormal.svg?t=1496440839) no-repeat center center;
    background-size: 64px 64px;
    position: absolute;
    height: 100%;
    top: 0;
    width: 100%;
    opacity: .8;
    filter: alpha(opacity=80);
    transition: all 0.2s ease-out;
    cursor: pointer;
}