// =============================================================================
// VIDEO GALLERY
// =============================================================================
.videoGallery-main {
    @include flex-video-container();
    margin-bottom: $videoGallery-spacing;
}

.videoGallery-list {
    @include u-listBullets("none");
    @include grid-row($behavior: "nest");
    font-size: 0;
}

.videoGallery-item {
    @include grid-column(12);
    display: inline-block;
    float: none;
    vertical-align: top;
    @include breakpoint("medium") {
        width: grid-calc(6, $total-columns);
    }
}

.video {
    @include media;
    display: block;
    margin-bottom: $videoGallery-spacing;
    opacity: 0.4;
    text-decoration: none;
    transition: opacity 100ms ease-out;
    @include breakpoint("medium") {
        margin-bottom: $videoGallery-spacing;
    }
    &:hover,
    &.is-active {
        color: color("greys", "darker");
        opacity: 1;
    }
}

.video-figure {
    margin-right: $videoGallery-spacing;
}

.video-title {
    margin-bottom: 0;
    margin-top: 0;
    text-transform: none;
}

.video-description {
    font-size: fontSize("base");
    margin-bottom: 0;
}

//Customizations
#PhotoImageGallery {
    width: 50.6%;
    background: transparent;
}

#ModalVideoGallery {
    background-color: transparent;
    width: 100%;
    button {
        display: none;
    }
    @include breakpoint('medium'){
        width: 50%;
    }
}

.video-slider {
    opacity: 0;
    margin-bottom: 0;
    .video-body {
        margin-top: 1rem;
        h5 {
            color: #fff;
        }
    }
}

.video-carousel-buttons {
    opacity: 0;
    position: relative;
    h4 {
        color: #fff;
        margin-top: 0;
    }
    ul {
        position: relative;
        text-align: left;
        bottom: 0;
    }
    li {
        display: inline-block;
        width: 100%;
        color: #fff;
        line-height: 1.2;
    }
    li.slick-active {
        color: stencilColor("color-textLink");
    }
}

.youtube {
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    background-position: 30% 50%;
    cursor: pointer;
    .video-play-icon {
        @include absoluteVertHor;
        cursor: pointer;
    }
}

.video-slider{
    .youtube{
        height: 205px;
        @include breakpoint("medium"){
            height: 388px;
        }
    }
}

.learn-more-vid {
    margin-bottom: 1rem;
    overflow: hidden;
    .youtube {
        height: 185px;
        width: 338px;
        margin: 0 auto;
        @include breakpoint("small"){
            height: 300px;
            width: 534px;
        }
    }
    iframe {
        display: block;
        margin: 0 auto;
    }
}

.video-thumbnail {
    position: relative;
    .video-play-icon {
        @include absoluteVertHor;
        cursor: pointer;
        width: 37%;
    }
}

.video-play-icon {
    fill: $color-white;
    width: 50px;
    height: 50px;
}

.product-top-video {
    position: absolute;
    right: 10px;
    top: 0;
    text-decoration: none;
    .video-play-icon {
        fill: $color-black;
        width: 43px;
        height: 43px;
    }
    p{
        color:$color-black;
            font-size: 12px;
    text-align: center;
    position: relative;
    top: -4px;
    font-weight: 600;
    }
    &:hover{
        p, svg{
            color:$color-blue;
            fill:$color-blue
        }
    }
}

.center-txt {
    text-align: center;
    @include absoluteVertHor;
}

.gallery-box-top {
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    margin: 0 2px;
    h2 {
        font-size: 30px;
        color: $color-white;
        line-height: 1.2;
        margin: 0;
        transition: .5s ease;
    }
    &:hover {
        h2 {
            color: stencilColor("icon-color-hover");
        }
    }
}

.std-overlay {
    position: absolute;
    height: 100%;
    width: 100%;
    background: #353332;
    opacity: .6;
    transition: .5s ease;
}

.empty-gallery-box {
    background-color: gray;
}

.gallery-box-btm {
    height: 220px;
    overflow: hidden;
    position: relative;
    background-size: cover;
    background-position: center;
    margin: 0 2px 4px;
    .center-txt svg {
        transition: .3s ease;
        opacity: 0;
        &:hover {
            fill: stencilColor("icon-color-hover");
        }
    }
    ul {
        @include absoluteVert;
        right: .6rem;
        margin: 0;
        list-style-type: none;
        li {
            cursor: pointer;
        }
        li:not(:last-child) {
            margin-bottom: .5rem;
        }
        li:hover svg {
            fill: stencilColor("icon-color-hover");
        }
        svg {
            fill: $color-white;
            width: 0px;
            height: 0px;
            transition: .5s ease;
        }
    }
    p {
        position: absolute;
        bottom: -4.5rem;
        left: 1rem;
        margin: 0;
        color: $color-white;
        transition: .5s ease;
        width: 80%;
    }
    .std-overlay {
        opacity: 0;
    }
}

.gallery-box-btm:hover {
    .std-overlay {
        opacity: 0.6;
    }
    ul li svg {
        width: 30px;
        height: 30px;
    }
    .center-txt svg {
        opacity: 1;
    }
    p {
        bottom: 0.5rem;
    }
}

.videoModal {
    height: 500px;
    background: transparent;
}

.flex-video {
    @include flex-video-container();
}

.photo-gallery-slide img {
    width: 100%;
}