// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================


// Product view layout
// -----------------------------------------------------------------------------

.productView {
    @include grid-row($behavior: "nest");
    margin-left: -(spacing("base"));
    margin-right: -(spacing("base"));

    .modal & {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.productView--quickView {
    .socialLinks-item--print {
        display: none;
    }
}

.productView-images {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("medium") {
        // width: grid-calc(6, $total-columns);
        width: 59%;
    }
}

.productView-details {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("medium") {
        clear: right;
        float: right;
        // width: grid-calc(6, $total-columns);
        width: 41%;
    }
}

.productView-description {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");

    @include breakpoint("large") {
        // clear: right;
        // float: right;
        // width: grid-calc(6, $total-columns);
    }
}

//custom edits

//remove this shit after you fix vid gallery
section.toggle.videoGallery {
    clear: both;
}


$box-shadow:0 0 9px 0 rgba(58, 58, 58, 0.35);
$box-radius: 3px;

.sku-wrapper > div {
    display: inline-block;
    margin-bottom: 0.2rem;
}

.form-options-wrapper {
    padding: 1rem 1rem 0 1rem;
    height: 402px;
    overflow-x: hidden;
}

.product-cart-wrapper{
    box-shadow: $box-shadow;
    border-radius: $box-radius;
}

.product-slider {
    height: 450px;
    margin: 0 auto;
    opacity: 0;
    transition: .7s ease all;
}

.product-slider .form-option {
    display: block;
    margin-bottom: 1rem;
    height: 99px;
    margin-right:0rem;
}

.product-option-txt {
    font-size: 15px;
    position: absolute;
    top: 50%;
    right: 25px;
    width: 60%;
    text-align: right;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.productView-description .tabs-contents {
    box-shadow: $box-shadow;
    border-radius: $box-radius;
}

.product-thumbnail-wrapper {
    width: 57%;
    margin: 0 auto;
}

.productView-thumbnail img {
    display: inline-block;
    box-shadow: $box-shadow;
    border-radius: $box-radius;
}

.product-slider .top.form-label {
    cursor: auto;
    padding: 1rem;
    margin-bottom: 0rem;
    border-bottom: $productOptions-list-border;
}

label.form-option .learn-more-icon, .productOptions-list-item .learn-more-icon {
    font-size: 13px;
    float: right;
    margin-right: .5rem;
    display: inline-block;
}

span.learn-more-icon {
    float: right;
}

.product-arrows {
    height: 60px;
    position: relative;
    border-top: $productOptions-list-border;
    background-color: #fff;
}

.product-arrows .slick-prev {
    left: 0;
    background-color: transparent;
}

.product-arrows .slick-next {
    right: 0;
    background-color: transparent;
}

.options-map-button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    zoom: 103%;
}

.product-bottom-cart-add{
    float:right;
}

.product-wishlist{
    float:left;
}

li.productOptions-list-item:hover {
    border-color: #989898;
    transition: all 0.15s ease;
}

.form-radio:checked + .form-label {
    border: 1px solid #4f4f4f;
    box-shadow: 0 0 0 1px #4f4f4f;
}

.productOptions-list .form-radio + .form-label::before, .productOptions-list .form-radio + .form-label::after {
    display:none;
}

ul.cart-review-slides  {
    list-style-type: none;
    margin: 0 0 2rem;
    li{
        border-bottom: 1px solid;
        cursor: pointer;
        padding: .2rem 0;
    }
    li:hover{
        color: stencilColor("color-textLink");
    }
    .review-value{
        float:right;
    }
}

//img gallery

div#ProductImageGallery {
    width: 63.3%;
    background: transparent;
}

.product-image-gallery {
    opacity:0;
    margin-bottom:0;
    .slick-prev {
    left: 1.64286rem;
}
.slick-next {
    right: 1.64286rem;
}
.slick-dots{
    display:none;
}
p{
     margin: .3rem 0 0 0;
     color: #fff;   
}
}

//img builder

.desk-build-images {
    position: relative;
    float: right;
    width:100%;

     > div {
    margin: 0 auto;
    width: 100%;
    top: 0;
    }
    .absolute img {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}
}

#sel-not-shown {
    position: absolute;
    margin-top: .5rem;
    float: left;
    width: 200px;
    overflow: hidden;
    -webkit-transition: .6s ease;
    transition: .6s ease;
    text-align: left;
    padding: 10px;
    background: #f6f7f7;
    h5 {
        margin:0;
        font-size:14px;  
    }
}

.absolute.desktop-hover {
    left: 50%;
    top: 33%;
    transform: translate(-50%, -50%);
    height: 120px;
    width: 38%;
    z-index: 6;
}

.desktop-wrapper .active {
    -webkit-transition: .6s ease;
    transition: .6s ease;
}

.desktop-hover:hover+.desktop-wrapper .active {
    opacity: 0.5;
    -webkit-transition: .6s ease;
    transition: .6s ease;
}

.hide {
    display: none!important;
}

//img builder zindex
 img.active {
    z-index: 1;
}

.grommet-wrapper,
.desktop-wrapper {
    z-index: 4;
    opacity: 1
}

.keyboard-wrapper, .absolute.arm-wrapper {
    z-index: 3
}


.chair-arm-fabric
 {
    z-index: 3;
}

.cpu-wrapper, .gest-shell, .gest-wrap, .gest-base-wrapper, .gest-lumbar-wrapper, .fabric-wrapper,
.chair-base-wrapper
 {
    z-index: 2 !important;
}

.monitor-wrapper, .freedom-no-hr {
    z-index: 4;
}
.casters-wrapper-4,
.frame-wrapper,

.chair-casters-wrapper, .drawer-wrapper, .kpd-wrapper-3 {
    z-index: 2;
}

.corner-sleeve,
.light-wrapper {
    z-index: 4;
}

.kpd-wrapper, .casters-wrapper {
    z-index: 1;
}

//tabs

article.productView-description {
    .tab {
     width: 20%;
    }

    .tab a {
        color:#fff !important;
        background-color: #454545;
        margin: 0 1rem;
        text-align: center !important;
    }
    .tab.is-active {
        border:none !important;
    }
    .tab.is-active a {
        color:#fff !important;
        background-color: gray;
    }


}

#tab-description {
    padding-top: 0;
}

.left-txt-section {
    padding-left: 6rem;
}
.right-txt-section {
    padding-right: 6rem;
}

.right-img-section {
    text-align: right;
}

.left-img-section {
    text-align: left;
}

//video gallery

.video-3d-links {
    text-align: center;
    clear: both;
}

//learn mores

.learn-more-wrapper .row {
    border-bottom: 1px solid black;
}

.learn-more-header {
    text-align: center;
    background-color: gray;
    padding: 1rem;
    h3{
        margin: 0;
        color: #fff;
    }

}


//helper functions

.absolute {
    position: absolute;
}



