// =============================================================================
// PRODUCT VIEW (CSS)
// =============================================================================
// Product view layout
// -----------------------------------------------------------------------------
.productView {
    @include grid-row($behavior: "nest");
    margin-left: -(spacing("base"));
    margin-right: -(spacing("base"));
    .modal & {
        padding-bottom: 0;
        padding-top: 0;
    }
}

.productView--quickView {
    .socialLinks-item--print {
        display: none;
    }
}

.productView-images {
    position:relative;
    .socialLinks {
        margin-bottom: 19px;
    }
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");
    @include breakpoint("medium") {
        // width: grid-calc(6, $total-columns);
        width: 59%;
    }
}

.productView-details {
    @include grid-column(12);
    padding-left: spacing("base");
    padding-right: spacing("base");
    @include breakpoint("medium") {
        clear: right;
        float: right; // width: grid-calc(6, $total-columns);
        width: 41%;
    }
}

.productView-description {
    @include grid-column(12); // padding-left: spacing("base");
    // padding-right: spacing("base");
    margin-top: 2rem;
    padding-left: 0;
    padding-right: 0;
    @include breakpoint("large") {
        // clear: right;
        // float: right;
        // width: grid-calc(6, $total-columns);
    }
}

//custom edits
//remove this shit after you fix vid gallery
section.toggle.videoGallery {
    clear: both;
}

$box-shadow:0 0 9px 0 rgba(58, 58, 58, 0.35);
$box-radius: 3px;
.sku-wrapper>div {
    font-size: 13px;
    display: inline-block;
    margin-bottom: 0.2rem;
    a {
        text-decoration: none;
    }
}

.form-options-wrapper {
    padding: 1rem 1rem 0 1rem;
    height: 402px;
    overflow-x: hidden;
    clear: both;
}

.form-checkbox,
.form-radio {
    position: relative !important;
    visibility: hidden;
}

.product-cart-wrapper {
    box-shadow: $box-shadow;
    border-radius: $box-radius;
}

.product-slider {
    height: 450px;
    margin: 0 auto;
    transition: .7s ease all;
    z-index: 1;
    .form-option {
        display: block;
        margin-bottom: 1rem;
        height: 103px;
        margin-right: 0rem;
    }
}

.product-option-txt {
    font-size: 15px;
    color: $color-black;
    position: absolute;
    top: 50%;
    right: 25px;
    width: 60%;
    text-align: right;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

.productView-description .tabs-contents {
    box-shadow: $box-shadow;
    border-radius: $box-radius;
}

.product-thumbnail-wrapper {
    width: 67%;
    margin: 0 auto;
    clear: both;
}

.product-thumbnail-wrapper button {
    float: right;
}

.productView-thumbnail img {
    display: inline-block;
    box-shadow: $box-shadow;
    border-radius: $box-radius;
}

.product-slider .top.form-label {
    cursor: auto;
    padding: .75rem 1rem;
    margin-bottom: 0rem;
    border-bottom: $productOptions-list-border;
    position: relative;
    font-weight: $fontWeight-medium;
    font-size: 19px;
    color: $color-black;
}

.label-learn-more-icon {
    position: absolute;
    top: 54%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    right: 12px;
}

.option-learn-more-icon {
    position: absolute;
    right: 6px;
    top: 6px;
}

.option-learn-more-icon:hover,
.label-learn-more-icon:hover {
    svg {
        fill: $button-blue-hover;
    }
}

.product-arrows {
    height: 65px;
    position: relative;
    border-top: $productOptions-list-border;
    background-color: $color-greyLight;
    .button--blue {
        position: absolute;
        right: 15px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        font-weight: 700;
    }
    .button--transparent {
        position: absolute;
        left: 15px;
        top: 50%;
        transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
        font-weight: 700;
    }
    svg.cart-arrow-right {
        width: 11px;
        height: 11px;
        fill: $color-white;
        margin-left: .5rem;
    }
    svg.cart-arrow-left {
        width: 11px;
        height: 11px;
        fill: $color-black;
        margin-right: .5rem;
    }
}

.product-arrows .slick-prev {
    left: 0;
    background-color: transparent;
    z-index: 1;
}

.product-arrows .slick-next {
    right: 0;
    background-color: transparent;
}

input#form-action-addToCart {
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
}

.options-map-button {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    z-index: 1;
    color: $color-blue;
    font-size: 16px;
    font-weight: $fontWeight-medium;
    cursor: pointer;
    font-family: $fontFamily-headings;
}

li.productOptions-list-item:hover {
    border-color: #989898;
    transition: all 0.15s ease;
}

.form-radio:checked+.form-label {
    border: 2px solid $color-blue;
    box-shadow: 0 0 0 1px $color-blue;
}

.productOptions-list .form-radio+.form-label::before,
.productOptions-list .form-radio+.form-label::after {
    display: none;
}

ul.cart-review-slides {
    list-style-type: none;
    margin: 0 0 2rem;
    li {
        border-bottom: 1px solid;
        cursor: pointer;
        padding: .2rem 0;
    }
    li:hover {
        color: stencilColor("color-textLink");
    }
    .review-value {
        float: right;
    }
}

.cart-bottom-btns {
    position: relative;
    .alertBox.productAttributes-message {
        position: absolute;
        width: 100%;
        z-index: 1;
    }
}

svg.learn-more-large {
    height: 33px;
    width: 33px;
    fill: $button-blue;
}

svg.learn-more-small {
    height: 16px;
    width: 16px;
    fill: $button-blue;
}

.options-map-wrapper {
    position: absolute;
    -webkit-transform: translateY(-100%);
    transform: translateY(-83%);
    padding: 1rem 1rem 0rem;
    background-color: #f6f7f7;
    z-index: 0;
    box-shadow: $box-shadow;
    border-radius: $box-radius;
    opacity: 0;
    transition: .2s ease-in;
    h4 {
        margin: 0 0 .5rem;
        font-size: 19px;
    }
    p {
        text-align: center;
        margin: .7rem 0 1rem;
    }
    ul {
        margin: 0;
        li {
            display: inline-block;
            margin: 3px 0;
            cursor: pointer;
            width: 31%;
            font-size: 15px;
            color: $color-grey;
        }
        li:last-child {
            color: $color-blue;
        }
        li:hover,
        .option-map-active {
            color: $color-black;
            font-weight: $fontWeight-bold;
        }
    }
}

.options-map-show {
    opacity: 1;
    z-index: 9;
    transform: translateY(-100%);
    top: 0px;
}

//img gallery
a.productView-thumbnail-link.modal-slider img {
    max-height: 67px;
    width: 100%;
}

div#ProductImageGallery {
    width: 63.5%;
    background: transparent;
}

.product-image-gallery {
    opacity: 0;
    margin-bottom: 0;
    .slick-prev {
        left: 1.64286rem;
    }
    .slick-next {
        right: 1.64286rem;
    }
    .slick-dots {
        display: none;
    }
    p {
        margin: .3rem 0 0 0;
        color: #fff;
    }
}

svg.img-arrow-left {
    position: absolute;
    width: 20px;
    height: 20px;
    left: -2.35714rem;
    fill: $color-black;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    top: 50%;
}

svg.img-arrow-right {
    position: absolute;
    width: 20px;
    height: 20px;
    right: -2.35714rem;
    fill: $color-black;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    top: 50%;
}

//img builder
.desk-build-images {
    position: relative;
    float: right;
    width: 100%;
    margin-bottom: 2rem;
    transition: .4s ease all;
    >div {
        margin: 0 auto;
        width: 100%;
        top: 0;
    }
    .absolute img {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}

#sel-not-shown {
    position: absolute;
    margin-top: .5rem;
    float: left;
    width: 200px;
    overflow: hidden;
    -webkit-transition: .6s ease;
    transition: .6s ease;
    text-align: left;
    padding: 10px;
    background: #f6f7f7;
    h5 {
        margin: 0;
        font-size: 14px;
    }
}

.absolute.desktop-hover {
    left: 50%;
    top: 33%;
    transform: translate(-50%, -50%);
    height: 120px;
    width: 38%;
    z-index: 6;
}

.desktop-wrapper .active {
    -webkit-transition: .6s ease;
    transition: .6s ease;
}

.desktop-hover:hover+.desktop-wrapper .active {
    opacity: 0.5;
    -webkit-transition: .6s ease;
    transition: .6s ease;
}

.hide {
    display: none!important;
}

.cursor {
    cursor: pointer;
}

//img builder zindex
img.active {
    z-index: 1;
}

.grommet-wrapper,
.desktop-wrapper {
    z-index: 4;
    opacity: 1
}

.keyboard-wrapper,
.absolute.arm-wrapper {
    z-index: 3
}

.chair-arm-fabric {
    z-index: 3;
}

.cpu-wrapper,
.gest-shell,
.gest-wrap,
.gest-base-wrapper,
.gest-lumbar-wrapper,
.fabric-wrapper,
.chair-base-wrapper {
    z-index: 2 !important;
}

.monitor-wrapper,
.freedom-no-hr {
    z-index: 4;
}

.casters-wrapper-4,
.frame-wrapper,
.chair-casters-wrapper,
.drawer-wrapper,
.kpd-wrapper-3 {
    z-index: 2;
}

.corner-sleeve,
.light-wrapper {
    z-index: 4;
}

.kpd-wrapper,
.casters-wrapper {
    z-index: 1;
}

//tabs
article.productView-description {
    .tab {
        width: 20%;
    }
    .tab a {
        color: #fff !important;
        background-color: #353332;
        margin: 0 1rem;
        text-align: center !important;
        border-top-left-radius: $box-radius;
        border-top-right-radius: $box-radius;
    }
    .tab.is-active a {
        color: #fff !important;
        background-color: $color-grey;
    }
}

ul.tabs.accessory-tabs li {
    width: 25%;
}

.faq-list {
    font-weight: bold;
    p {
        font-weight: normal;
        margin-top: .5rem;
    }
    li {
        margin-bottom: 2rem;
    }
}

#tab-description > .row {
    min-height: 500px;
}

#tab-description {
    padding-top: 0;
    h2 {
        margin-top: 0;
    }
}

#tab-warranty ul li {
    margin-bottom: 1rem;
}

.left-txt-section {
    padding-left: 6rem;
}

.right-txt-section {
    padding-right: 6rem;
}

.right-img-section {
    text-align: right;
}

.left-img-section {
    text-align: left;
}

ul.spec-tab-downloads {
    list-style-type: none;
    margin: 0;
    a {
        text-decoration: none;
    }
}

table.spec-table, table.comparison-table {
    width:100%;
    tr {
        border-bottom: 1px solid $color-greyLightest;
    }
    tr:last-child {
        border-bottom: none;
    }
    td {
        padding: 1rem 0;
    }
    .table-des, .comparison-feature-col {
        font-weight: bold;
        width: 31%
    }
    .comparison-item-head{
        font-weight: bold;
    }
}

//video gallery
.video-3d-links {
    text-align: center;
    clear: both;
    margin-bottom: 1rem;
}

//learn mores
.learn-more-wrapper {
    width: 902px;
    h4 {
        margin: 0 0 .3rem;
    }
    .row {
        padding-top: 1rem;
        padding-bottom: 1rem;
        border-bottom: 1px solid black;
    }
    .row:last-child {
        border-bottom: none;
    }
}

.learn-more-header {
    text-align: center;
    background-color: gray;
    padding: 1rem;
    h3 {
        margin: 0;
        color: #fff;
    }
}

.learn-more-body {
    overflow: auto;
    height: 600px;
    min-height: 240px;
}

.learn-more-vid {
    margin-bottom: 1rem;
    .youtube {
        height: 300px;
        width: 534px;
        margin: 0 auto;
    }
    iframe {
        display: block;
        margin: 0 auto;
    }
}

//helper functions
.absolute {
    position: absolute;
}

.relative {
    position: relative;
}

.text-center {
    text-align: center;
}

video.fullscreen-bg__video {
    width: 100%;
}

.full-width {
    width: 100% !important;
}

.flex-row {
    display: flex;
}

.middle-just {
    align-self: center;
}

.text-right {
    text-align: right;
}


.stencil-hide {
    display: none;
}

div#cart-preview-dropdown {
    left: 1500px !important;
    top: 55px !important;
    right: 15px !important;
}

//tour
#ProductTour {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(58, 58, 58, 0.8);
    z-index: 99;
    left: 0px;
    top: 0;
    display: none;
    opacity: 0;
    transition: .5s ease all;
}

.opacity-1 {
    opacity: 1 !important;
}

.fixed-product-tour {
    overflow: hidden;
}

.desk-build-wrapper {
    position: relative;
}

.product-tour-step {
    position: absolute;
    color: #fff;
    z-index: 999999;
    display: none;
    opacity: 0;
    transition: .7s ease all;
    p {
        font-size: 19px;
    }
}

.step-0 {
    right: -172px;
    top: 242px;
    p {
        font-size: 40px;
        font-weight: bold;
    }
}

.step-1 {
    top: 134px;
    left: 6%;
    width: 24%;
}

.tour-arrow-1 {
    width: 200px;
    height: 40px;
    position: absolute;
    right: -81px;
    bottom: -17px;
}

.step-2 {
    right: -5%;
    width: 26%;
    top: 52px;
}

.tour-arrow-2 {
    width: 150px;
    height: 40px;
    position: absolute;
    top: -33px;
    right: -56px;
}

.step-3 {
    right: 12%;
    top: 51px;
    width: 10%;
}

.tour-arrow-3 {
    width: 112px;
    height: 59px;
    position: absolute;
    right: -62px;
    top: 42px;
}

.step-4 {
    right: 18px;
    top: -165px;
    width: 40%;
}

.tour-arrow-4 {
    width: 100px;
    right: 0;
    position: absolute;
    top: 41px;
}

.step-5 {
    left: -145px;
    width: 50%;
    top: 62px;
}

.tour-arrow-5 {
    width: 100px;
    position: absolute;
    right: -105px;
    top: -53px;
}

#product-reviews {
    clear: both;
}

ul.options-tab-list {
    text-align: center;
    margin: 0;
    span{
        display:block;
        padding:1rem 0 0;
    }
    li {
        width: 19%;
        display: inline-block;
        margin: 0 .3rem 1rem;
        text-align: center;

        a {
            text-decoration: none;
            font-weight: 700;
        }
    }
}

ul.cart-bottom-icons {
    text-align: center;
    margin: 2.2rem 0 0;
    a{
        text-decoration: none;
        color:$color-black;
    }
    li {
        cursor: pointer;
        display: inline-block;
        width: 31%;
        span {
            position: relative;
            left: .4rem;
        }
    }
    li:hover {
        span{
            color:$color-blue;
        }
        svg {
            fill: $color-blue;
        }
    }
}

.cart-icon {
    width: 35px;
    height: 35px;
    vertical-align: middle;
    cursor: pointer;
    fill: stencilColor("color-black");
}