<div class="full-width-wrapper">

    <div class="row expanded collapse flex-row blue-bg">
        <div class="small-12 large-4 large-offset-1 columns middle-just">
            <h2>A Cut Above</h2>
            <p>We offer more custom height adjustable desk configurations than anyone in the industry with five categories of
                desktop materials, various sizes, and countless grommet hole placements to choose from. Want power to your
                desktop? Order a power grommet, and we will cut the grommet hole in your desired placement. We also pre-fit
                the desk frame to your desktop, ensuring a perfect match for maximum stability and longevity. To top it off,
                our desktops are made from sustainable materials with no chemical off-gassing, solvents, or toxins.</p>
        </div>
        <div class="small-12 large-7 columns text-right">
            <img class="lazyload" data-src="{{cdn "webdav:img/category/overviewDesktops.jpg"}}">
        </div>
    </div>
    <div class="row expanded collapse flex-row white-bg">
        <div class="small-12 large-7 columns">
            <img class="lazyload" data-src="{{cdn "webdav:img/category/inDeskPowerDesk.jpg"}}">
        </div>
        <div class="small-12 large-4 end columns middle-just">
            <h2>In-Desk Power</h2>
            <p>Are you inundated with multiple mobile devices and nowhere to plug them in? When designing your custom sit stand desk, add power grommets in any number of configurations. Power grommets put the power at your fingertips so you can make sure you’re all charged up whenever you have to be away from your desk.</p>
        </div>
    </div>
    <div class="row expanded collapse flex-row blue-bg">
        <div class="small-12 large-4 large-offset-1 columns middle-just">
            <h2>Classic Laminate</h2>
            <p><a title="GREENGUARD-certified laminate" href="http://site.thehumansolution.com/UPLIFT/greenguard-certified-laminate.pdf" target="_blank">GREENGUARD-certified laminate</a> is the perfect choice for those who want an environmentally sound desktop with a classic look. Choose between maple, mahogany, or cherry wood grain colors in a variety of different sizes. Put your mind at ease with GREENGUARD certification, which means your desktop was made using environmentally-sound methods. These desktops have been tested by an independent third-party lab under strict conditions to test indoor air quality.</p>
        </div>
        <div class="small-12 large-7 columns text-right">
            <img class="lazyload" data-src="{{cdn "webdav:img/category/classicDesk.jpg"}}">
        </div>  
    </div>
    <div class="row expanded collapse flex-row white-bg">
        <div class="small-12 large-7 columns">
            <img class="lazyload" data-src="{{cdn "webdav:img/category/ecoDesktopGirl.jpg"}}">
        </div>
        <div class="small-12 large-4 end columns middle-just">
            <h2>Eco Desktop</h2>
            <p>The Eco desktop offers beauty and resilience in a sustainable package. This top is made from 100 percent recycled wood that is certified by the Sustainable Forestry Initiative. The recycled wood comes from saw mills, so it not only saves trees, but also reduces waste in landfills. The wood is then shaped with a CNC machine to smooth the edges. Then, our Missouri plant applies an eco-friendly, UV-cured powder coat, which offers a durable surface that is more resilient than paint.</p>
        </div>
    </div>
    <div class="row expanded collapse flex-row blue-bg">
        <div class="small-12 large-4 large-offset-1 columns middle-just">
            <h2>Bamboo Desktop</h2>
            <p>Your office deserves more zen. That’s why we offer a solid bamboo desktop that is both sustainable and easy on the eyes. Our solid bamboo top features beautiful edge details, rich tones, and subtle grain variation. We topped it off with a UV finish for durability. The bamboo is a full inch thick, providing a more attractive edge profile with increased sturdiness.</p>
        </div>
        <div class="small-12 large-7 columns text-right">
            <img class="lazyload" data-src="{{cdn "webdav:img/category/bambooDesktopGirl.jpg"}}">
        </div>
    </div>
    <div class="row expanded collapse flex-row white-bg">
        <div class="small-12 large-7 columns">
            <img class="lazyload" data-src="{{cdn "webdav:img/category/reclaimedDesktopDek.jpg"}}">
        </div>
        <div class="small-12 large-4 end columns middle-just">
            <h2>Reclaimed Wood Desktop</h2>
            <p>Are you inundated with multiple mobile devices and nowhere to plug them in? When designing your custom sit stand desk, add power grommets in any number of configurations. Power grommets put the power at your fingertips so you can make sure you’re all charged up whenever you have to be away from your desk.</p>
        </div>
    </div>
    <div class="row expanded collapse flex-row blue-bg">
        <div class="small-12 large-4 large-offset-1 columns middle-just">
            <h2>Solid Wood Desktop</h2>
            <p>If you are looking for a truly brag-worthy piece, then look no further than the solid wood desktop. We handcraft each piece to your exact specifications and can even customize the size down to the nearest quarter-inch. Choose from 14 different options to create your show-stopper.</p>
            <p>These desktops measure in at a solid 1.75” thick (or 1.5” for premium bamboo), and are made-to-order by our expert woodworkers here in Austin, Texas. For an extra wow factor, try the cedar or mesquite tops with a barkline edge.</p>
        </div>
        <div class="small-12 large-7 columns text-right">
            <img class="lazyload" data-src="{{cdn "webdav:img/category/solidWoodDeskStack.jpg"}}">
        </div>
    </div>

</div>
