// =============================================================================
// PRICE (CSS)
// =============================================================================
.list-price,
.price--rrp,
.price--discounted {
    display:inline-block;
    text-decoration: line-through;
    font-size: 15px;
    color:$color-grey;
    font-weight: 400;
    font-family:$fontFamily-karla;
}

.list-price {
    text-decoration: none;
}

.price-section--minor {
    color: color("greys", "light");
}

.price-section.price-section--withoutTax {
    position: relative;
    line-height: 1;
}

.cart-line--left {
    width: 1px;
    height: 63px;
    background-color: $color-greyLightest;
    position: absolute;
    top: 0;
    right: 10px;
    @include breakpoint('medium'){
        right: 22px;
    }
}

.cart-line--right {
    width: 1px;
    height: 63px;
    background-color: $color-greyLightest;
    position: absolute;
    top: 0;
    right: 8px;
}

.product-avail-wrap {
    @include breakpoint('medium'){
        margin-left: 1rem;
    }
}
