<div class="row expanded white-bg margin-top-2 " style="overflow:hidden">
    <div class="small-12 columns text-center">
        <h2>A Frame Color to Match Any Space</h2>
        <a href=""><button class="button button--blue">Shop Frames</button></a>
        <div class="frame-animate-wrapper">
            <div class="frame-animate-inner">
                <div class="frame-animate-left animate-set">
                    <img src="{{cdn "webdav:img/home/leftGray.png"}}">
                    <img class="hide" src="{{cdn "webdav:img/home/leftBlack.png"}}">
                    <img class="hide" src="{{cdn "webdav:img/home/leftWhite.png"}}">
                </div>
                <div class="frame-animate-center animate-set">
                    <img src="{{cdn "webdav:img/home/centerGray.png"}}">
                    <img class="hide" src="{{cdn "webdav:img/home/centerBlack.png"}}">
                    <img class="hide" src="{{cdn "webdav:img/home/centerWhite.png"}}">
                </div>
                <div class="frame-animate-right animate-set">
                    <img src="{{cdn "webdav:img/home/rightGray.png"}}">
                    <img class="hide" src="{{cdn "webdav:img/home/rightBlack.png"}}">
                    <img class="hide" src="{{cdn "webdav:img/home/rightWhite.png"}}">
                </div>
            </div>
        </div>
    </div>
</div>