<img data-name="ACC146~blk" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tasklight/3-leg-build-black-light-left.png"}}">
<img data-name="ACC146~blk" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tasklight/3-leg-build-black-light-right.png"}}">
<img data-name="ACC146~wht" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tasklight/3-leg-build-white-light-left.png"}}">
<img data-name="ACC146~wht" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tasklight/3-leg-build-white-light-right.png"}}">
<!--Illuminate Light-->
<img data-name="ACC024~BLK" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tasklight/3-leg-build-black-illuminate-light-left.png"}}">
<img data-name="ACC024~BLK" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tasklight/3-leg-build-black-illuminate-light-right.png"}}">
<img data-name="ACC024~SLV" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tasklight/3-leg-build-silver-illuminate-light-left.png"}}">
<img data-name="ACC024~SLV" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tasklight/3-leg-build-silver-illuminate-light-right.png"}}">