<div class="productView">
    {{#each product.reviews.messages}}
        {{#if error}}
            {{> components/common/alert-error error}}
        {{/if}}
        {{#if success}}
            {{> components/common/alert-success success}}
        {{/if}}
    {{/each}}

    <section class="productView-images" data-image-gallery>
        {{> components/common/breadcrumbs breadcrumbs=breadcrumbs}}
        <h1 class="productView-title" {{#if schema}}itemprop="name"{{/if}}>{{product.title}}</h1>
                    
        {{#if product.sku}}
            <div class="sku-wrapper">
                <div class="productView-info-name">{{lang 'products.sku'}}</div>
                <div class="productView-info-value" data-product-sku>{{product.sku}}</div>
                <div class="product-tour">| <a href="#" id="StartTour">Take Tour</a></div>
            </div>
        {{/if}}

        {{#if product.videos.list.length}}
            <a class="product-top-video modal-slider" data-reveal-id="ModalVideoGallery" href="#">
                <svg class="video-play-icon"><use xlink:href="#icon-play-button-for-image-gallery-videos-icon" /></svg>
                <p>VIDEO</p>
            </a>
        {{/if}}

        {{> components/common/share}}