{{#if product.related_products}}
    <div class="related-products-popout">
        <div class="popout-close-icon icon">
            <svg>
                <use xlink:href="#icon-close" />
            </svg>
        </div>
        <h5>Want more desktop options?</h5>
        <ul>
            {{#each products}}
            <li>
                {{> components/products/card theme_settings=../theme_settings customer=../customer}}
            </li>
            {{/each}}
        </ul>

        <a href="/adjustable-height-desks/">Click here to see our other desks</a>
    </div>
{{/if}}