<div class="product-thumbnail-wrapper">
    <div class="productView-thumbnails">
        {{#if product.videos.list.length}}
            <div class="productView-thumbnail">
                <a class="productView-thumbnail-link modal-slider video-thumbnail" data-reveal-id="ModalVideoGallery" href="#">
                    {{#each product.videos.list}}
                        {{#if @first}}
                            <img src="//i.ytimg.com/vi/{{id}}/mqdefault.jpg">
                            <svg class="video-play-icon">
                                <use xlink:href="#icon-play-button-for-image-gallery-videos-icon" />
                            </svg>
                        {{/if}}
                    {{/each}}      
                </a>
            </div>
        {{/if}} 
        {{#each product.images}}
            <div class="productView-thumbnail">
                <a class="productView-thumbnail-link" data-reveal-id="ProductImageGallery" data-image-gallery-item data-image-gallery-new-image-url="{{getImage this 'product_size' (cdn ../theme_settings.default_image_product)}}"
                    data-image-gallery-zoom-image-url="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}"
                    href="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}">
                                <img src="{{getImage this 'productthumb_size' (cdn ../theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
                            </a>
            </div>
        {{/each}}


    </div>

    <div id="ProductImageGallery" class="modal" data-reveal>
        <div>
            <div class="product-image-gallery" data-slick='{
                "dots": true,
                "fade": true,
                "arrows": true,
                "mobileFirst": true,
                "slidesToShow": 1,
                "slidesToScroll": 1,
                "autoplay": false,
                "infinite":false
            }'>
                {{#each product.images}}
                <div>
                    <img class="lazyload" data-src="{{getImage this 'zoom_size' (cdn ../theme_settings.default_image_product)}}" alt="{{this.alt}}" title="{{this.alt}}">
                    <p>{{this.alt}}</p>
                </div>
                {{/each}}


            </div>
        </div>
    </div>

</div>
</section>

<section class="productView-details">
    <div class="product-cart-wrapper">
        <div class="productView-product">

            <!--<h2 class="productView-brand"{{#if schema}} itemprop="brand" itemscope itemtype="http://schema.org/Brand"{{/if}}>
                <a href="{{product.brand.url}}"{{#if schema}} itemprop="url"{{/if}}><span{{#if schema}} itemprop="name"{{/if}}>{{product.brand.name}}</span></a>
            </h2>-->
            {{#if product.call_for_price}}
            <p class="productView-price">
                <span>{{product.call_for_price}}</span>
            </p>
            {{/if}}

            <div class="row expanded collapse">
                <div class="small-4 columns product-price-wrap relative">
                    <span>Your Price</span>
                    <div class="productView-price">
                        {{#or customer (if theme_settings.restrict_to_login '!==' true)}} {{> components/products/price price=product.price schema_org=schema}}
                        {{else}} {{> components/common/login-for-pricing}} {{/or}}
                    </div>
                    <div class="cart-line--left"></div>
                </div>
                <div class="small-3 columns relative">
                    <div class="productView-rating" {{#if schema}} itemprop="aggregateRating" itemscope itemtype="http://schema.org/AggregateRating"
                        {{/if}}>
                        {{#if settings.show_product_rating}} {{#if product.num_reviews '>' 0}} {{#if schema}}
                        <meta itemprop="ratingValue" content="{{product.rating}}">
                        <meta itemprop="ratingCount" content="{{product.num_reviews}}">
                        <meta itemprop="reviewCount" content="{{product.num_reviews}}"> {{/if}} {{/if}} {{> components/products/ratings rating=product.rating}}
                        <span class="productView-reviewLink">
                        {{#if product.num_reviews '>' 0}}
                            <a class="smooth-scroll" href="#product-reviews">
                                {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                            </a>
                        {{else}}
                            {{lang 'products.reviews.link_to_review' total=product.num_reviews}}
                        {{/if}}
                    </span> {{/if}}
                        <a href="#faq-tabs" class="smooth-tab-open"><span>17</span> FAQs</a>
                    </div>
                    <div class="cart-line--right"></div>
                </div>
                <div class="small-5 columns">
                    <div class="product-avail-wrap">
                        {{#if product.availability}}
                        <div class="productView-info-name">{{lang 'products.availability'}}</div>
                        <div class="productView-info-value">{{product.availability}}</div>
                        {{/if}}
                    </div>
                </div>
            </div>


            {{product.detail_messages}}
            <dl class="productView-info">
                {{#if product.upc}}
                <dt class="productView-info-name">{{lang 'products.upc'}}</dt>
                <dd class="productView-info-value" data-product-upc>{{product.upc}}</dd>
                {{/if}} {{#if product.condition}}
                <dt class="productView-info-name">{{lang 'products.condition'}}</dt>
                <dd class="productView-info-value">{{product.condition}}</dd>
                {{/if}}
                <!--{{#if product.availability}}
                    <dt class="productView-info-name">{{lang 'products.availability'}}</dt>
                    <dd class="productView-info-value">{{product.availability}}</dd>
                {{/if}}-->
                {{#if product.weight}}
                <dt class="productView-info-name">{{lang 'products.weight'}}</dt>
                <dd class="productView-info-value" data-product-weight>{{product.weight}}</dd>
                {{/if}} {{#if product.min_purchase_quantity}}
                <dt class="productView-info-name">{{lang 'products.min_purchase_quantity'}}</dt>
                <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.min_purchase_quantity}}</dd>
                {{/if}} {{#if product.max_purchase_quantity}}
                <dt class="productView-info-name">{{lang 'products.max_purchase_quantity'}}</dt>
                <dd class="productView-info-value">{{lang 'products.purchase_units' quantity=product.max_purchase_quantity}}</dd>
                {{/if}} {{#if product.gift_wrapping_available}}
                <dt class="productView-info-name">{{lang 'products.gift_wrapping'}}</dt>
                <dd class="productView-info-value">{{lang 'products.gift_wrapping_available'}}</dd>
                {{/if}} {{#if product.shipping}} {{#if product.shipping.calculated}}
                <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                <dd class="productView-info-value">{{lang 'products.shipping_calculated'}}</dd>
                {{else}} {{#if product.shipping.price.value '===' 0}}
                <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                <dd class="productView-info-value">{{lang 'products.shipping_free'}}</dd>
                {{else}}
                <dt class="productView-info-name">{{lang 'products.shipping'}}</dt>
                <dd class="productView-info-value">{{lang 'products.shipping_fixed' amount=product.shipping.price.formatted}}</dd>
                {{/if}} {{/if}} {{/if}} {{#if product.bulk_discount_rates.length}}
                <dt class="productView-info-name">{{lang 'products.bulk_pricing.title'}}</dt>
                <dd class="productView-info-value">
                    <a href="{{product.url}}" {{#unless is_ajax }}data-reveal-id="bulkPricingModal" {{/unless}}>
                            {{lang 'products.bulk_pricing.view'}}
                        </a>
                </dd>

                <div id="bulkPricingModal" class="modal modal--small" data-reveal>
                    <div class="modal-header">
                        <h2 class="modal-header-title">{{lang 'products.bulk_pricing.modal_title'}}</h2>
                        <a href="#" class="modal-close" aria-label="Close"><span aria-hidden="true">&#215;</span></a>
                    </div>
                    <div class="modal-body">
                        <p>{{lang 'products.bulk_pricing.instructions'}}</p>
                        <ul>
                            {{#each product.bulk_discount_rates}}
                            <li>
                                {{lang 'products.bulk_pricing.range' min=min max=max}} {{#if type '===' 'percent'}} {{lang 'products.bulk_pricing.percent'
                                discount=discount.formatted}} {{/if}} {{#if type '===' 'fixed'}} {{lang 'products.bulk_pricing.fixed'
                                discount=discount.formatted}} {{/if}} {{#if type '===' 'price'}} {{lang 'products.bulk_pricing.price'
                                discount=discount.formatted}} {{/if}}
                            </li>
                            {{/each}}
                        </ul>
                    </div>
                </div>
                {{/if}}

                <!--{{#each product.custom_fields}}
                    <dt class="productView-info-name">{{name}}:</dt>
                    <dd class="productView-info-value">{{{value}}}</dd>
                {{/each}}-->
            </dl>
        </div>
        <div class="productView-options">
            {{#if product.release_date }}
            <p>{{product.release_date}}</p>
            {{/if}}

            <div class="product-tour-step step-3">
                <p>Learn more about each option</p>
                <svg class="tour-arrow-3">
                    <use xlink:href="#icon-arrow-3" />
                </svg>
            </div>

            <form class="form" method="post" action="{{product.cart_url}}" enctype="multipart/form-data" data-cart-item-add>
                <input type="hidden" name="action" value="add">
                <input type="hidden" name="product_id" value="{{product.id}}" /> {{#each product.customizations}} {{{dynamicComponent
                'components/products/customizations'}}} {{/each}}
                <div class="product-slider" data-product-option-change style="display:none;">
                    {{#each product.options}} {{{dynamicComponent 'components/products/options'}}} {{/each}}
                    <div class="product-review-slide">
                        <label class="top form-label form-label--alternate">Order Review</label>
                        <div class="form-options-wrapper">
                            {{#if product.can_purchase}} {{> components/products/add-to-cart}} {{/if}}
                            <ul class="cart-review-slides">
                                {{#each product.options}}
                                <li data-slide="{{@index}}"><span class="review-key">{{display_name}}</span><span class="review-value"></span></li>
                                {{/each}}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="relative">
                    <div class="options-map-wrapper">
                        <h4>Select an option...</h4>
                        <ul>
                            {{#each product.options}}
                            <li data-slide="{{@index}}">{{display_name}}</li>
                            {{/each}}
                            <li data-slide="{{length product.options}}">Order Review</li>
                        </ul>
                        <p>*Cycle through all the options by clicking the "Next" and "Back" buttons below</p>
                    </div>
                </div>

                <div class="product-arrows">

                    {{#or customer (if theme_settings.restrict_to_login '!==' true)}}
                    <div class="form-action">
                        <input id="form-action-addToCart" data-wait-message="{{lang 'products.adding_to_cart'}}" class="button button--cart" type="submit"
                            value="{{#if product.pre_order}}{{lang 'products.pre_order'}}{{else}}{{lang 'products.add_to_cart'}}{{/if}}">
                    </div>
                    {{{snippet 'product_addtocart'}}} {{/or}}

                    <div class="product-tour-step step-4">
                        <p>Click the next button to move to the next option</p>
                        <svg class="tour-arrow-4">
                            <use xlink:href="#icon-arrow-5" />
                        </svg>
                    </div>

                    <div class="product-tour-step step-5">
                        <p>Select to see the list of options, and click each option to explore</p>
                        <svg class="tour-arrow-5">
                            <use xlink:href="#icon-arrow-6" />
                        </svg>
                    </div>

                    <div class="options-map-button">JUMP TO AN OPTION</div>

                </div>

                <div class="progress-builder">
                    <p>Desk Build Progress </p> <span>(<span class="percent-change">0%</span> completed)</span>
                    <div class="custom-progress-container">
                        <span class="meter" style="width:0%"></span>
                    </div>
                </div>
        </div>
    </div>
    {{#if product.event_date}} {{> components/products/event-date}} {{/if}}
    <div class="form-field form-field--stock{{#unless product.stock_level}} u-hiddenVisually{{/unless}}">
        <label class="form-label form-label--alternate">
                        {{lang 'products.current_stock'}}
                        <span data-product-stock>{{product.stock_level}}</span>
                    </label>
    </div>
    {{#if product.out_of_stock}} {{#if product.out_of_stock_message}} {{> components/common/alert-error product.out_of_stock_message}}
    {{else}} {{> components/common/alert-error (lang 'products.sold_out')}} {{/if}} {{/if}}
    </form>

    <!--<div class="progress-builder">
        <p>Desk Build Progress </p> <span>(<span class="percent-change">0%</span> completed)</span>
        <div class="custom-progress-container">
        <span class="meter" style="width:0%"></span>
        </div>
    </div>-->

    <div class="cart-bottom-btns">
        <div class="alertBox productAttributes-message" style="display:none">
            <div class="alertBox-column alertBox-icon">
                <icon glyph="ic-success" class="icon" aria-hidden="true">
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24">
                        <path d="M12 2C6.48 2 2 6.48 2 12s4.48 10 10 10 10-4.48 10-10S17.52 2 12 2zm1 15h-2v-2h2v2zm0-4h-2V7h2v6z"></path>
                    </svg>
                </icon>
            </div>
            <p class="alertBox-column alertBox-message"></p>
        </div>

        <ul class="cart-bottom-icons">
            <li>
                <a href="#" data-reveal-id="BulkDeals">
                <svg class="cart-icon">
                    <use xlink:href="#icon-bulkDeals-icon" /><span>BULK DEALS</span></svg>
                </a>
            </li>
            {{#if settings.show_wishlist}}
            <li>
                <form class="product-wishlist" method="post" action="{{product.add_to_wishlist_url}}" data-wishlist-add>
                    <div class="form-action">
                        <input type="hidden" name="variation_id" value="">
                        <label for="wishlist-input" class="cursor">
                                    <svg class="cart-icon wishlist-icon"><use xlink:href="#icon-wishList-icon"/><span>ADD TO WISH LIST</span></svg>
                                </label>
                        <input id="wishlist-input" class="button hide" type="submit" value="{{lang 'account.wishlists.add_item'}}">
                    </div>
                </form>
            </li>
            {{/if}} {{#or customer (if theme_settings.restrict_to_login '!==' true)}} {{#if product.can_purchase}}
            <li>
                <div id="form-action-addToCartFast" class="form-action product-bottom-cart-add">
                    <svg class="cart-icon">
                        <use xlink:href="#icon-addNow" /><span>ADD NOW</span></svg>
                </div>
            </li>
        </ul>
        {{/if}} {{{snippet 'product_addtocart'}}} {{/or}}
    </div>
    </div>
    {{{snippet 'product_details'}}}
</section>

<article class="productView-description" {{#if schema}} itemprop="description" {{/if}}>
    <ul class="tabs" data-tab>
        <li class="tab is-active">
            <a class="tab-title" href="#tab-description">{{lang 'products.description'}}</a>
        </li>
        <li class="tab">
            <a class="tab-title" href="#tab-specs-assembly">Specs/Assembly</a>
        </li>
        <li class="tab options-tab">
            <a class="tab-title" href="#tab-options">Options</a>
        </li>
        <li class="tab">
            <a id="faq-tabs" class="tab-title" href="#tab-faq">FAQ</a>
        </li>
        {{#if product.warranty}}
        <li class="tab">
            <a class="tab-title" href="#tab-warranty">{{lang 'products.warranty'}}</a>
        </li>
        {{/if}}
    </ul>
    <div class="tabs-contents">
        {{{product.description}}} {{{snippet 'product_description'}}} {{#if product.warranty}}
        <div class="tab-content" id="tab-warranty">
            {{{product.warranty}}}
        </div>
        {{/if}}
    </div>
</article>
</div>

<div class="hide">
    <ul class="options-tab-list">
        {{#each product.options}}
        <li>
            <a href="#" data-reveal-id="{{display_name}}">
                <span>{{display_name}}</span>
            </a>
        </li>
        {{/each}}
    </ul>
</div>


<div id="previewModal" class="modal modal--large" data-reveal>
    <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
        <span aria-hidden="true">&#215;</span>
    </a>
    <div class="modal-content"></div>
    <div class="loadingOverlay"></div>
</div>


<div id="BulkDeals" class="modal" data-reveal>
    <div class="modal-header">
        <h2 class="modal-header-title">Bulk Deals</h2>
        <a href="#" class="modal-close" aria-label="{{lang 'common.close'}}" role="button">
            <span aria-hidden="true">&#215;</span>
        </a>
    </div>
    <div class="modal-body">
        <p>Love our desks, but want more? In most cases, we can offer bulk quantity discounts for orders or smaller purchases placed over time. Bulk deals are based on expected volume and the products you choose. We can also provide you with brochures and swatches to help you in your decisions.</p>
        <p>To request a quote, contact us via phone <a href="tel:+800-531-3746">(800-531-3746)</a>, email <a href="mailto:info@upliftdesk.com">(info@upliftdesk.com)</a>, or live chat from 8am - 7pm Monday - Friday and from 10am - 6pm Saturday.</p>
    </div>
</div>