<div id="ProductTour"></div>
<div class="product-tour-step step-0">
    <p>Click Anywhere to Continue</p>
</div>
<div class="product-tour-step step-1">
    <p>Watch your product change as you custom build it</p>
    <svg class="tour-arrow-1">
        <use xlink:href="#icon-arrow-1" />
    </svg>
</div>
<div class="product-tour-step step-2">
    <p>Choose your options by selecting these boxes</p>
    <svg class="tour-arrow-2">
        <use xlink:href="#icon-arrow-2" />
    </svg>
</div>
<div id="sel-not-shown">
    <h5>Selected But Not Shown</h5>
    <ul></ul>
</div>