<div class="desk-build-wrapper">
    {{> components/products/product-tour}}
    <div class="desk-build-images">
        <img src="{{cdn "webdav:img/desk-build-images/desk-build-blank-white.jpg"}}">
        <div class="absolute desktop-hover"></div>
        <div class="absolute desktop-wrapper desk-img-set" data-set="desktopstyle">
            <img data-name="bamboo" data-width="60" data-depth="30" class="active" src="{{cdn "webdav:img/desk-build-images/frames/2-leg-frame-build-transparent-top.png"}}">
        </div>
        <div class="absolute frame-wrapper desk-img-set" data-set="Frame Color">
            <img data-name="black" data-width="60" data-depth="all" class="active" src="{{cdn "webdav:img/desk-build-images/frames/desk-build-frame-60x30-black.png"}}">
            <img data-name="silver" data-width="60" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/frames/desk-build-frame-60x30-gray.png"}}">
            <img data-name="white" data-width="60" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/frames/desk-build-frame-60x30-white.png"}}">
        </div>
        <div class="absolute kpd-wrapper desk-img-set" data-set="Keypad Options">
            <img data-name="UPT018" data-width="60" data-depth="all" class="active" src="{{cdn "webdav:img/desk-build-images/keypads/desk-build-keypad-standard-60.png"}}">
            <img data-name="UPT019" data-width="60" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/keypads/desk-build-keypad-advanced-60.png"}}">
        </div>
        <div class="absolute casters-wrapper desk-img-set" data-set="Caster Options">
            <img data-name="UPL126~set" data-width="60" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/casters/desk-build-casters-42x30.png"}}">
        </div>
        <div class="absolute keyboard-wrapper desk-img-set" data-set="Keyboard Tray">
            <img data-name="UPL127~spacer" data-width="all" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/desk-build-keyboard-tray-large-2-leg.png"}}">
            <img data-name="UPL140~spacer" data-width="all" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/desk-build-keyboard-tray-switch-2-leg.png"}}">
            <img data-name="UPL127~standard" data-width="all" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/desk-build-keyboard-tray-large-11-inch-track.png"}}">
            <img data-name="UPL140~standard" data-width="all" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/desk-build-keyboard-tray-switch-11-inch-track.png"}}">
        </div>
        <div class="absolute modesty-wrapper desk-img-set" data-set="Modesty Panel">
            <img data-name="ACC009~42" data-width="all" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/modestypanel/desk-build-modesty-42x30.png"}}">
            <img data-name="ACC009~48" data-width="all" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/modestypanel/desk-build-modesty-48x30.png"}}">
            <img data-name="ACC009~60" data-width="all" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/modestypanel/desk-build-modesty-60x30.png"}}">
            <img data-name="ACC009~72" data-width="all" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/modestypanel/desk-build-modesty-72x30.png"}}">
        </div>
        <div class="absolute monitor-wrapper desk-img-set" data-set="Monitor Arms">
            <img data-name="UPL020~S" data-width="all" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-monitor-arm-single-30.png"}}">
            <img data-name="UPL021~S" data-width="all" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-monitor-arm-dual-30.png"}}">
            <img data-name="UPL022" data-width="all" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-monitor-arm-two-singles-30.png"}}">
            <img data-name="UPL023~DLM" data-width="all" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-monitor-arm-dual-laptop-30.png"}}">
            <img data-name="UPL023~SLM" data-width="all" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-monitor-arm-single-laptop-30.png"}}">
            <!--View Monitor Arm-->
            <img data-name="ACC301~BLK" data-width="all" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-view-monitor-arm-single-30.png"}}">
            <img data-name="ACC302~BLK" data-width="all" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-view-monitor-arm-dual-30.png"}}">
            <img data-name="KIT301~BLK" data-width="all" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-view-monitor-arm-two-singles-30.png"}}">
            <img data-name="ACC302~laptopmount" data-width="all" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-view-monitor-arm-dual-laptop-30.png"}}">
            <img data-name="ACC301~laptopmount" data-width="all" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-view-monitor-arm-single-laptop-30.png"}}">
        </div>
        <div class="absolute light-wrapper desk-img-set" data-set="Task Light">
            <img data-name="ACC146~blk" data-width="60" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tasklight/desk-build-light-black-60-72-80.png"}}">
            <img data-name="ACC146~wht" data-width="60" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tasklight/desk-build-light-white-60-72-80.png"}}">
        </div>
        <div class="absolute cpu-wrapper desk-img-set" data-set="CPU Holder">
            <img data-name="UPL128~spacer" data-width="60" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/cpuholder/desk-build-cpu-holder-60.png"}}">
        </div>
        <div class="absolute drawer-wrapper desk-img-set" data-set="Desk Drawer">
            <img data-name="ACC008" data-width="60" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/drawer/desk-build-desk-drawer-all-but-42.png"}}">
            <img data-name="STR005" data-width="60" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/drawer/desk-build-small-desk-drawer-all-but-42.png"}}">
        </div>
        <div class="absolute promo-wrapper desk-img-set" data-set="Promotional Item">
            <img data-name="UPL145~unboxed" data-width="all" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/mat/desk-build-mat-2-leg.png"}}">
        </div>
        <p class="top-size-ex show-for-medium">*60" x 30" top size shown for reference, not included</p>
    </div>
</div>