<div class="desk-build-wrapper">
    {{> components/products/product-tour}}
    <div class="desk-build-images">
        <img src="{{cdn "webdav:img/desk-build-images/desk-build-blank-white.jpg "}}">
        <div class="absolute desktop-hover"></div>
        <div class="absolute desktop-wrapper desk-img-set" data-set="Desktop Style">
            <img data-name="WCH" data-ext="L" class="active" src="{{cdn "webdav:img/desk-build-images/tops/custom-laminate/3-leg-build-top-laminate-figured-wild-cherry-left.png
                "}}">
            <img data-name="WCH" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/custom-laminate/3-leg-build-top-laminate-figured-wild-cherry-right.png
                "}}">
            <img data-name="FMY" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/custom-laminate/3-leg-build-top-laminate-figured-mahogany-left.png
                "}}">
            <img data-name="FMY" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/custom-laminate/3-leg-build-top-laminate-figured-mahogany-right.png
                "}}">
            <img data-name="WHT" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/custom-laminate/3-leg-build-top-laminate-white-left.png
                "}}">
            <img data-name="WHT" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/custom-laminate/3-leg-build-top-laminate-white-right.png
                "}}">
            <img data-name="BLK" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/custom-laminate/3-leg-build-top-laminate-black-left.png
                "}}">
            <img data-name="BLK" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/custom-laminate/3-leg-build-top-laminate-black-right.png
                "}}">
            <img data-name="FMP" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/custom-laminate/3-leg-build-top-laminate-fusion-maple-left.png
                "}}">
            <img data-name="FMP" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/custom-laminate/3-leg-build-top-laminate-fusion-maple-right.png
                "}}">
            <img data-name="WHN" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/custom-laminate/3-leg-build-top-laminate-white-nebula-left.png
                "}}">
            <img data-name="WHN" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/custom-laminate/3-leg-build-top-laminate-white-nebula-right.png
                "}}">
            <img data-name="CLN" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/custom-laminate/3-leg-build-top-laminate-cloud-nebula-left.png
                "}}">
            <img data-name="CLN" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/custom-laminate/3-leg-build-top-laminate-cloud-nebula-right.png
                "}}">
            <img data-name="FTP" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/custom-laminate/3-leg-build-top-laminate-fonthill-pear-left.png
                "}}">
            <img data-name="FTP" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/custom-laminate/3-leg-build-top-laminate-fonthill-pear-right.png
                "}}">
        </div>
        <div class="absolute desktop-wrapper desk-img-set" data-set="Desktop Size">
            <img data-name="60" data-ext="L" class="active" src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-custom-top-60x60x30x30-left.png
                "}}">
            <img data-name="60" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-custom-top-60x60x30x30-right.png
                "}}">
            <img data-name="66" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-custom-top-66x66x30x30-left.png
                "}}">
            <img data-name="66" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-custom-top-66x66x30x30-right.png
                "}}">
            <img data-name="72" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-custom-top-72x72x30x30-left.png
                "}}">
            <img data-name="72" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-custom-top-72x72x30x30-right.png
                "}}">
            <img data-name="78" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-custom-top-78x78x30x30-left.png
                "}}">
            <img data-name="78" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-custom-top-78x78x30x30-right.png
                "}}">
            <img data-name="84" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-custom-top-84x84x30x30-left.png
                "}}">
            <img data-name="84" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-custom-top-84x84x30x30-right.png
                "}}">
        </div>
        <div class="absolute frame-wrapper desk-img-set" data-set="Frame Color">
            <img data-name="UPL930~black~27-C" data-ext="L" class="active" src="{{cdn "webdav:img/desk-build-images/frame/3-leg-build-frame-left-black.png
                "}}">
            <img data-name="UPL930~black~27-C" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/frame/3-leg-build-frame-right-black.png
                "}}">
            <img data-name="UPL930~silver~27-C" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/frame/3-leg-build-frame-left-gray.png
                "}}">
            <img data-name="UPL930~silver~27-C" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/frame/3-leg-build-frame-right-gray.png
                "}}">
            <img data-name="UPL930~white~27-C" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/frame/3-leg-build-frame-left-white.png
                "}}">
            <img data-name="UPL930~white~27-C" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/frame/3-leg-build-frame-right-white.png
                "}}">
        </div>
        <div class="absolute kpd-wrapper desk-img-set" data-set="Keypad Options">
            <img data-name="UPT018" data-ext="L" class="active" src="{{cdn "webdav:img/desk-build-images/keypads/3-leg-build-keypad-standard-left.png
                "}}">
            <img data-name="UPT018" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/keypads/3-leg-build-keypad-standard-right.png
                "}}">
            <img data-name="UPT019" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/keypads/3-leg-build-keypad-advanced-left.png
                "}}">
            <img data-name="UPT019" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/keypads/3-leg-build-keypad-advanced-right.png
                "}}">
        </div>
        <div class="absolute grommet-wrapper desk-img-set" data-set="Grommet Options">
            <img data-name="MOD200~WW" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/grommets/3-leg-build-grommet-wire-left.png
                "}}">
            <img data-name="MOD200~WW" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/grommets/3-leg-build-grommet-wire-right.png
                "}}">
            <img data-name="MOD200~WP" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/grommets/3-leg-build-grommet-both-left.png
                "}}">
            <img data-name="MOD200~WP" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/grommets/3-leg-build-grommet-both-right.png
                "}}">
            <img data-name="MOD200~PP" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/grommets/3-leg-build-grommet-power-left.png
                "}}">
            <img data-name="MOD200~PP" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/grommets/3-leg-build-grommet-power-right.png
                "}}">
        </div>
        <div class="absolute casters-wrapper desk-img-set" data-set="Caster Options">
            <img data-name="UPL126~setof5" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/casters/3-leg-build-casters-left.png
                "}}">
            <img data-name="UPL126~setof5" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/casters/3-leg-build-casters-right.png
                "}}">
        </div>
        <div class="absolute keyboard-wrapper desk-img-set" data-set="Keyboard Tray">
            <img data-name="UPL144~large~1-1.5" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/3-leg-build-keyboard-tray-large-left.png
                "}}">
            <img data-name="UPL144~large~1-1.5" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/3-leg-build-keyboard-tray-large-right.png
                "}}">
            <img data-name="UPL144~switch~1-1.5" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/3-leg-build-keyboard-tray-switch-left.png
                "}}">
            <img data-name="UPL144~switch~1-1.5" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/3-leg-build-keyboard-tray-switch-right.png
                "}}">
        </div>
        <!--Corner Sleeve-->
        <div class="absolute keyboard-wrapper desk-img-set" data-set="Keyboard Tray">
            <img data-name="UPL144~large~1-1.5" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/3-leg-build-corner-sleeve-custom-laminate/-left.png
                "}}">
            <img data-name="UPL144~large~1-1.5" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/3-leg-build-corner-sleeve-custom-laminate/-right.png
                "}}">
            <img data-name="UPL144~switch~1-1.5" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/3-leg-build-corner-sleeve-custom-laminate/-left.png
                "}}">
            <img data-name="UPL144~switch~1-1.5" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/3-leg-build-corner-sleeve-custom-laminate/-right.png
                "}}">
        </div>
        <div class="absolute modesty-wrapper desk-img-set" data-set="Modesty Panel">
            <img data-name="ACC009~42" data-width="42" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/modestypanel/desk-build-modesty-42x30.png
                "}}">
            <img data-name="ACC009~48" data-width="48" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/modestypanel/desk-build-modesty-48x30.png
                "}}">
            <img data-name="ACC009~60" data-width="60" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/modestypanel/desk-build-modesty-60x30.png
                "}}">
            <img data-name="ACC009~72" data-width="72" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/modestypanel/desk-build-modesty-72x30.png
                "}}">
            <img data-name="ACC009~72" data-width="80" data-depth="all" class="hide" data-src="{{cdn "webdav:img/desk-build-images/modestypanel/desk-build-modesty-72x30.png
                "}}">
        </div>
        <div class="absolute monitor-wrapper desk-img-set" data-set="Monitor Arms">
            <img data-name="UPL020~S" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-single-left.png
                "}}">
            <img data-name="UPL020~S" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-single-right.png
                "}}">
            <img data-name="UPL021~S" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-dual-left.png
                "}}">
            <img data-name="UPL021~S" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-dual-right.png
                "}}">
            <img data-name="UPL022" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-two-singles-left.png
                "}}">
            <img data-name="UPL022" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-two-singles-right.png
                "}}">
            <img data-name="UPL023~DLM" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-dual-laptop-left.png
                "}}">
            <img data-name="UPL023~DLM" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-dual-laptop-right.png
                "}}">
            <img data-name="UPL023~SLM" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-single-laptop-left.png
                "}}">
            <img data-name="UPL023~SLM" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-single-laptop-right.png
                "}}">
            <!--View Monitor Arm-->
            <img data-name="ACC301~BLK" data-ext="L" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-single-left.png
                "}}">
            <img data-name="ACC302~BLK" data-ext="L" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-dual-left.png
                "}}">
            <img data-name="KIT301~BLK" data-ext="L" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-two-singles-left.png
                "}}">
            <img data-name="ACC302~laptopmount" data-ext="L" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-dual-laptop-left.png
                "}}">
            <img data-name="ACC301~laptopmount" data-ext="L" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-single-laptop-left.png
                "}}">
            <img data-name="ACC301~BLK" data-ext="R" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-single-right.png
                "}}">
            <img data-name="ACC302~BLK" data-ext="R" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-dual-right.png
                "}}">
            <img data-name="KIT301~BLK" data-ext="R" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-two-singles-right.png
                "}}">
            <img data-name="ACC302~laptopmount" data-ext="R" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-dual-laptop-right.png
                "}}">
            <img data-name="ACC301~laptopmount" data-ext="R" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-single-laptop-right.png
                "}}">
        </div>
        <div class="absolute light-wrapper desk-img-set" data-set="Task Light">
            <img data-name="ACC146~blk" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tasklight/3-leg-build-black-light-left.png
                "}}">
            <img data-name="ACC146~blk" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tasklight/3-leg-build-black-light-right.png
                "}}">
            <img data-name="ACC146~wht" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tasklight/3-leg-build-white-light-left.png
                "}}">
            <img data-name="ACC146~wht" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tasklight/3-leg-build-white-light-right.png
                "}}">
        </div>
        <div class="absolute cpu-wrapper desk-img-set" data-set="CPU Holder">
            <img data-name="UPL128~standard" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/cpuholder/3-leg-build-cpu-holder-left.png
                "}}">
            <img data-name="UPL128~standard" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/cpuholder/3-leg-build-cpu-holder-right.png
                "}}">
            <img data-name="UPL128~spacer" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/cpuholder/3-leg-build-cpu-holder-with-spacer-left.png
                "}}">
            <img data-name="UPL128~spacer" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/cpuholder/3-leg-build-cpu-holder-with-spacer-right.png
                "}}">
        </div>
        <div class="absolute drawer-wrapper desk-img-set" data-set="Desk Drawer">
            <img data-name="ACC008" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/drawer/3-leg-build-desk-drawer-left.png
                "}}">
            <img data-name="ACC008" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/drawer/3-leg-build-desk-drawer-right.png
                "}}">
            <!--Small Drawer-->
            <img data-name="STR005" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/drawer/3-leg-build-small-desk-drawer-left.png
                "}}">
            <img data-name="STR005" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/drawer/3-leg-build-small-desk-drawer-right.png
                "}}">
        </div>
        <div class="absolute promo-wrapper desk-img-set" data-set="Promotional Item">
            <img data-name="UPL145~unboxed" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/mat/3-leg-build-mat-left.png
                "}}">
            <img data-name="UPL145~unboxed" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/mat/3-leg-build-mat-right.png
                "}}">
        </div>
    </div>
</div>