<div id="LSHAPE" class="desk-build-wrapper">
    {{> components/products/product-tour}}
    <div class="desk-build-images">
        <img src="{{cdn "webdav:img/desk-build-images/desk-build-blank-white.jpg"}}">
        <div class="absolute desktop-hover"></div>
        <div class="absolute desktop-wrapper desk-img-set" data-set="desktopstyle">
            <img data-name="bamboo" data-ext="L" class="active" src="{{cdn "webdav:img/desk-build-images/frames/3-leg-frame-build-transparent-top.png"}}">
        </div>
        <div class="absolute frame-wrapper desk-img-set" data-set="Frame Color">
            <img data-name="black" data-ext="L" class="active" src="{{cdn "webdav:img/desk-build-images/frames/3-leg-build-frame-left-black.png"}}">
            <img data-name="gray" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/frames/3-leg-build-frame-left-gray.png"}}">
            <img data-name="white" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/frames/3-leg-build-frame-left-white.png"}}">
        </div>
        <div class="absolute kpd-wrapper desk-img-set" data-set="Keypad">
            <img data-name="UPT018" data-ext="L" class="active" data-src="{{cdn "webdav:img/desk-build-images/keypads/3-leg-build-keypad-standard-left.png"}}">
            <img data-name="UPT019" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/keypads/3-leg-build-keypad-advanced-left.png"}}">
        </div>
        <div class="absolute casters-wrapper desk-img-set" data-set="Casters">
            <img data-name="UPL126~set" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/casters/3-leg-build-casters-left.png"}}">

        </div>
        <div class="absolute keyboard-wrapper desk-img-set" data-set="Keyboard Tray">
            <img data-name="UPL144~large~1-1.5" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/3-leg-build-keyboard-tray-large-left.png"}}">
            <img data-name="UPL144~switch~1-1.5" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/3-leg-build-keyboard-tray-switch-left.png"}}">
            <!--Corner Sleeve-->
            <img data-name="UPL144~large~1-1.5" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/3-leg-build-corner-sleeve-laminate-bamboo-left.png"}}">
            <img data-name="UPL144~switch~1-1.5" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/3-leg-build-corner-sleeve-laminate-bamboo-left.png"}}">
        </div>
        <div class="absolute monitor-wrapper desk-img-set" data-set="Monitor Arms">
            <img data-name="UPL020~S" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-single-left.png"}}">
            <img data-name="UPL021~S" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-dual-left.png"}}">
            <img data-name="UPL022" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-two-singles-left.png"}}">
            <img data-name="UPL023~DLM" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-dual-laptop-left.png"}}">
            <img data-name="UPL023~SLM" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-single-laptop-left.png"}}">
            <!--View Monitor Arm-->
            <img data-name="ACC301~BLK" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-single-left.png"}}">
            <img data-name="ACC302~BLK" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-dual-left.png"}}">
            <img data-name="KIT301~BLK" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-two-singles-left.png"}}">
            <img data-name="ACC302~laptopmount" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-dual-laptop-left.png"}}">
            <img data-name="ACC301~laptopmount" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-single-laptop-left.png"}}">
        </div>
        <div class="absolute light-wrapper desk-img-set" data-set="Task Light">
            {{> components/products/3-leg-task-light}}
        </div>
        <div class="absolute cpu-wrapper desk-img-set" data-set="CPU Holder">
            <img data-name="CPU128" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/cpuholder/3-leg-build-cpu-holder-left.png"}}">
        </div>
        <div class="absolute drawer-wrapper desk-img-set" data-set="Desk Drawer">
            <img data-name="ACC008" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/drawer/3-leg-build-desk-drawer-left.png"}}">
            <img data-name="STR005" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/drawer/3-leg-build-small-desk-drawer-left.png"}}">
        </div>
        <div class="absolute promo-wrapper desk-img-set" data-set="Desk Mat">
            <img data-name="UPL145" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/mat/3-leg-build-mat-left.png"}}">
        </div>
        <p class="top-size-ex show-for-medium">*72" x 72" x 30" top size shown for reference, not included</p>
    </div>
</div>