<div id="LSHAPE" class="desk-build-wrapper">
    {{> components/products/product-tour}}
    <div class="desk-build-images">
        <img src="{{cdn "webdav:img/desk-build-images/desk-build-blank-white.jpg"}}">
        <div class="absolute desktop-hover"></div>
        <div class="absolute desktop-wrapper desk-img-set" data-set="Desktop Style">
            <img data-name="black-72x47" data-ext="L" class="active" src="{{cdn "webdav:img/desk-build-images/tops/eco/desk-build-top-left-eco-corner-black.png"}}">
            <img data-name="black-72x47" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/eco/desk-build-top-right-eco-corner-black.png"}}">
            <img data-name="white-72x47" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/eco/desk-build-top-left-eco-corner-white.png"}}">
            <img data-name="white-72x47" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/eco/desk-build-top-right-eco-corner-white.png"}}">
        </div>
        <div class="absolute frame-wrapper desk-img-set" data-set="Frame Color">
            <img data-name="black" data-ext="L" class="active" src="{{cdn "webdav:img/desk-build-images/frames/desk-build-frame-left-eco-corner-black.png"}}">
            <img data-name="black" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/frames/desk-build-frame-right-eco-corner-black.png"}}">
            <img data-name="gray" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/frames/desk-build-frame-left-eco-corner-gray.png"}}">
            <img data-name="gray" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/frames/desk-build-frame-right-eco-corner-gray.png"}}">
            <img data-name="white" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/frames/desk-build-frame-left-eco-corner-white.png"}}">
            <img data-name="white" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/frames/desk-build-frame-right-eco-corner-white.png"}}">
        </div>
        <div class="absolute kpd-wrapper desk-img-set" data-set="Keypad">
            <img data-name="UPT018" data-ext="L" class="active" src="{{cdn "webdav:img/desk-build-images/keypads/desk-build-keypad-standard-left-eco-corner.png"}}">
            <img data-name="UPT018" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/keypads/desk-build-keypad-standard-right-eco-corner.png"}}">
            <img data-name="UPT019" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/keypads/desk-build-keypad-advanced-left-eco-corner.png"}}">
            <img data-name="UPT019" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/keypads/desk-build-keypad-advanced-right-eco-corner.png"}}">
        </div>
        <div class="absolute grommet-wrapper desk-img-set" data-set="Grommets">
            <img data-name="MOD200~WW" data-ext="L" class="active" src="{{cdn "webdav:img/desk-build-images/grommets/desk-build-grommet-wire-left-eco-corner.png"}}">
            <img data-name="MOD200~WW" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/grommets/desk-build-grommet-wire-right-eco-corner.png"}}">
            <img data-name="MOD200~WP" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/grommets/desk-build-grommet-both-left-eco-corner.png"}}">
            <img data-name="MOD200~WP" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/grommets/desk-build-grommet-both-right-eco-corner.png"}}">
            <img data-name="MOD200~PP" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/grommets/desk-build-grommet-power-left-eco-corner.png"}}">
            <img data-name="MOD200~PP" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/grommets/desk-build-grommet-power-right-eco-corner.png"}}">
        </div>
        <div class="absolute casters-wrapper desk-img-set" data-set="Casters">
            <img data-name="UPL126~setof5" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/casters/desk-build-casters-left-eco-corner.png"}}">
            <img data-name="UPL126~setof5" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/casters/desk-build-casters-right-eco-corner.png"}}">
        </div>
        <div class="absolute keyboard-wrapper desk-img-set" data-set="Keyboard Tray">
            <img data-name="UPL127~spacer" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/desk-build-keyboard-tray-large-left-eco-corner.png"}}">
            <img data-name="UPL127~spacer" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/desk-build-keyboard-tray-large-right-eco-corner.png"}}">
            <img data-name="UPL140~spacer" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/desk-build-keyboard-tray-switch-left-eco-corner.png"}}">
            <img data-name="UPL140~spacer" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/desk-build-keyboard-tray-switch-right-eco-corner.png"}}">
        </div>
        <div class="absolute monitor-wrapper desk-img-set" data-set="Monitor Arms">
            <img data-name="UPL020~S" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-monitor-arm-single-left-eco-corner.png"}}">
            <img data-name="UPL020~S" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-monitor-arm-single-right-eco-corner.png"}}">
            <img data-name="UPL021~S" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-monitor-arm-dual-left-eco-corner.png"}}">
            <img data-name="UPL021~S" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-monitor-arm-dual-right-eco-corner.png"}}">
            <img data-name="UPL022" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-monitor-arm-two-singles-left-eco-corner.png"}}">
            <img data-name="UPL022" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-monitor-arm-two-singles-right-eco-corner.png"}}">
            <img data-name="UPL023~DLM" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-monitor-arm-dual-laptop-left-eco-corner.png"}}">
            <img data-name="UPL023~DLM" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-monitor-arm-dual-laptop-right-eco-corner.png"}}">
            <img data-name="UPL023~SLM" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-monitor-arm-single-laptop-left-eco-corner.png"}}">
            <img data-name="UPL023~SLM" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-monitor-arm-single-laptop-right-eco-corner.png"}}">
            <!--View Monitor Arm-->
            <img data-name="ACC301~BLK" data-ext="L" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-view-monitor-arm-single-left-eco-corner.png"}}">
            <img data-name="ACC302~BLK" data-ext="L" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-view-monitor-arm-dual-left-eco-corner.png"}}">
            <img data-name="KIT301~BLK" data-ext="L" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-view-monitor-arm-two-singles-left-eco-corner.png"}}">
            <img data-name="ACC302~laptopmount" data-ext="L" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-view-monitor-arm-dual-laptop-30.png"}}">
            <img data-name="ACC301~laptopmount" data-ext="L" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-view-monitor-arm-single-laptop-left-eco-corner.png"}}">
            <img data-name="ACC301~BLK" data-ext="R" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-view-monitor-arm-single-right-eco-corner.png"}}">
            <img data-name="ACC302~BLK" data-ext="R" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-view-monitor-arm-dual-right-eco-corner.png"}}">
            <img data-name="KIT301~BLK" data-ext="R" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-view-monitor-arm-two-singles-right-eco-corner.png"}}">
            <img data-name="ACC302~laptopmount" data-ext="R" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-view-monitor-arm-dual-laptop-right-eco-corner.png"}}">
            <img data-name="ACC301~laptopmount" data-ext="R" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/desk-build-view-monitor-arm-single-laptop-right-eco-corner.png"}}">
        </div>
        <div class="absolute light-wrapper desk-img-set" data-set="Task Light">
            {{> components/products/3-leg-task-light}}
        </div>
        <div class="absolute cpu-wrapper desk-img-set" data-set="CPU Holder">
            <img data-name="CPU128" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/cpuholder/desk-build-cpu-holder-left-eco-corner.png"}}">
            <img data-name="CPU128" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/cpuholder/desk-build-cpu-holder-right-eco-corner.png"}}">
        </div>
        <div class="absolute drawer-wrapper desk-img-set" data-set="Desk Drawer">
            <img data-name="ACC008" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/drawer/desk-build-desk-drawer-left-eco-corner.png"}}">
            <img data-name="ACC008" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/drawer/desk-build-desk-drawer-right-eco-corner.png"}}">
            <!--Small Drawer-->
            <img data-name="STR005" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/drawer/desk-build-small-desk-drawer-left-eco-corner.png"}}">
            <img data-name="STR005" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/drawer/desk-build-small-desk-drawer-right-eco-corner.png"}}">
        </div>
        <div class="absolute promo-wrapper desk-img-set" data-set="Promotional Item">
            <img data-name="UPL145~unboxed" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/mat/desk-build-mat-left-eco-corner.png"}}">
            <img data-name="UPL145~unboxed" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/mat/desk-build-mat-right-eco-corner.png"}}">
        </div>
    </div>
</div>