<div class="desk-build-wrapper">
    {{> components/products/product-tour}}
    <div class="desk-build-images">
        <img src="{{cdn "webdav:img/desk-build-images/desk-build-blank-white.jpg"}}">
        <div class="absolute desktop-hover"></div>
        <div class="absolute desktop-wrapper desk-img-set" data-set="Desktop Style">
            <img data-name="bamboo" data-ext="L" class="active" src="{{cdn "webdav:img/desk-build-images/tops/bamboo/3-leg-build-top-1-inch-bamboo-left.png"}}">
            <img data-name="bamboo" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/bamboo/3-leg-build-top-1-inch-bamboo-right.png"}}">
            <img data-name="maple" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/laminate/3-leg-build-top-raynor-maple-left.png"}}">
            <img data-name="maple" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/laminate/3-leg-build-top-raynor-maple-right.png"}}">
            <img data-name="cherry" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/laminate/3-leg-build-top-raynor-cherry-left.png"}}">
            <img data-name="cherry" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/laminate/3-leg-build-top-raynor-cherry-right.png"}}">
            <img data-name="mahogany" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/laminate/3-leg-build-top-raynor-mahogany-left.png"}}">
            <img data-name="mahogany" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/laminate/3-leg-build-top-ranyor-mahogany-right.png"}}">
        </div>
        <div class="absolute desktop-wrapper desk-img-set" data-set="Desktop Size">
            <img data-name="60x72x30x30" data-ext="L" class="active" src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-top-60x72x30x30-left.png"}}">
            <img data-name="60x72x30x30" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-top-60x72x30x30-right.png"}}">
            <img data-name="72x72x30x30" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-top-72x72x30x30-left.png"}}">
            <img data-name="72x72x30x30" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-top-72x72x30x30-right.png"}}">
            <img data-name="80x72x30x30" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-top-80x72x30x30-left.png"}}">
            <img data-name="80x72x30x30" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-top-80x72x30x30-right.png"}}">
            <img data-name="60x78x30x30" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-top-60x78x30x30-left.png"}}">
            <img data-name="60x78x30x30" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-top-60x78x30x30-right.png"}}">
            <img data-name="72x78x30x30" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-top-72x78x30x30-left.png"}}">
            <img data-name="72x78x30x30" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-top-72x78x30x30-right.png"}}">
            <img data-name="80x78x30x30" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-top-80x78x30x30-left.png"}}">
            <img data-name="80x78x30x30" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/size/3-leg-build-top-80x78x30x30-right.png"}}">
        </div>
        <div class="absolute frame-wrapper desk-img-set" data-set="Frame Color">
            <img data-name="black" data-ext="L" class="active" src="{{cdn "webdav:img/desk-build-images/frames/3-leg-build-frame-left-black.png"}}">
            <img data-name="black" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/frames/3-leg-build-frame-right-black.png"}}">
            <img data-name="gray" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/frames/3-leg-build-frame-left-gray.png"}}">
            <img data-name="gray" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/frames/3-leg-build-frame-right-gray.png"}}">
            <img data-name="white" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/frames/3-leg-build-frame-left-white.png"}}">
            <img data-name="white" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/frames/3-leg-build-frame-right-white.png"}}">
        </div>
        <div class="absolute kpd-wrapper desk-img-set" data-set="Keypad Options">
            <img data-name="UPT018" data-ext="L" class="active" src="{{cdn "webdav:img/desk-build-images/keypads/3-leg-build-keypad-standard-left.png"}}">
            <img data-name="UPT018" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/keypads/3-leg-build-keypad-standard-right.png"}}">
            <img data-name="UPT019" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/keypads/3-leg-build-keypad-advanced-left.png"}}">
            <img data-name="UPT019" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/keypads/3-leg-build-keypad-advanced-right.png"}}">
        </div>
        <div class="absolute grommet-wrapper desk-img-set" data-set="Grommet Options">
            <img data-name="MOD200~WWWW" data-ext="L" class="active" src="{{cdn "webdav:img/desk-build-images/tops/laminate/3-leg-build-four-wire-grommets-left.png"}}">
            <img data-name="MOD200~WWWW" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/laminate/3-leg-build-four-wire-grommets-right.png"}}">
            <img data-name="MOD200~WPPP" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/laminate/3-leg-build-one-wire-three-power-grommets-left.png"}}">
            <img data-name="MOD200~WPPP" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/laminate/3-leg-build-one-wire-three-power-grommets-right.png"}}">
            <img data-name="MOD200~WWPP" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/laminate/3-leg-build-two-wire-two-power-grommets-left.png"}}">
            <img data-name="MOD200~WWPP" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/laminate/3-leg-build-two-wire-two-power-grommets-right.png"}}">
            <img data-name="MOD200~WWWP" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/laminate/3-leg-build-three-wire-one-power-grommets-left.png"}}">
            <img data-name="MOD200~WWWP" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/laminate/3-leg-build-three-wire-one-power-grommets-right.png"}}">
            <img data-name="MOD200~PPPP" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/laminate/3-leg-build-four-power-grommets-left.png"}}">
            <img data-name="MOD200~PPPP" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tops/laminate/3-leg-build-four-power-grommets-right.png"}}">
        </div>
    </div>
    <div class="absolute casters-wrapper desk-img-set" data-set="Caster Options">
        <img data-name="UPL126~setof5" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/casters/3-leg-build-casters-left.pn"}}">
        <img data-name="UPL126~setof5" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/casters/3-leg-build-casters-right.pn"}}">
    </div>
    <div class="absolute keyboard-wrapper desk-img-set" data-set="Keyboard Tray">
        <img data-name="UPL144~large~1-1.5" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/3-leg-build-keyboard-tray-large-left.pn"}}">
        <img data-name="UPL144~large~1-1.5" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/3-leg-build-keyboard-tray-large-right.pn"}}">
        <img data-name="UPL144~switch~1-1.5" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/3-leg-build-keyboard-tray-switch-left.pn"}}">
        <img data-name="UPL144~switch~1-1.5" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/3-leg-build-keyboard-tray-switch-right.pn"}}">
    </div>
    <!--Corner Sleeve-->
    <div class="absolute keyboard-wrapper desk-img-set" data-set="Keyboard Tray">
        <img data-name="UPL144~large~1-1.5" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/3-leg-build-corner-sleeve-laminate-bamboo-left.pn"}}">
        <img data-name="UPL144~large~1-1.5" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/3-leg-build-corner-sleeve-laminate-bamboo-right.pn"}}">
        <img data-name="UPL144~switch~1-1.5" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/3-leg-build-corner-sleeve-laminate-bamboo-left.pn"}}">
        <img data-name="UPL144~switch~1-1.5" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/kbtrays/3-leg-build-corner-sleeve-laminate-bamboo-right.pn"}}">
    </div>
    <div class="absolute monitor-wrapper desk-img-set" data-set="Monitor Arms">
        <img data-name="UPL020~S" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-single-left.pn"}}">
        <img data-name="UPL020~S" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-single-right.pn"}}">
        <img data-name="UPL021~S" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-dual-left.pn"}}">
        <img data-name="UPL021~S" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-dual-right.pn"}}">
        <img data-name="UPL022" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-two-singles-left.pn"}}">
        <img data-name="UPL022" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-two-singles-right.pn"}}">
        <img data-name="UPL023~DLM" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-dual-laptop-left.pn"}}">
        <img data-name="UPL023~DLM" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-dual-laptop-right.pn"}}">
        <img data-name="UPL023~SLM" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-single-laptop-left.pn"}}">
        <img data-name="UPL023~SLM" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-monitor-arm-single-laptop-right.pn"}}">
        <!--View Monitor Arm-->
        <img data-name="ACC301~BLK" data-ext="L" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-single-left.pn"}}">
        <img data-name="ACC302~BLK" data-ext="L" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-dual-left.pn"}}">
        <img data-name="KIT301~BLK" data-ext="L" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-two-singles-left.pn"}}">
        <img data-name="ACC302~laptopmount" data-ext="L" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-dual-laptop-left.pn"}}">
        <img data-name="ACC301~laptopmount" data-ext="L" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-single-laptop-left.pn"}}">
        <img data-name="ACC301~BLK" data-ext="R" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-single-right.pn"}}">
        <img data-name="ACC302~BLK" data-ext="R" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-dual-right.pn"}}">
        <img data-name="KIT301~BLK" data-ext="R" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-two-singles-right.pn"}}">
        <img data-name="ACC302~laptopmount" data-ext="R" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-dual-laptop-right.pn"}}">
        <img data-name="ACC301~laptopmount" data-ext="R" data-depth="30" class="hide" data-src="{{cdn "webdav:img/desk-build-images/monitorarms/3-leg-build-view-monitor-arm-single-laptop-right.pn"}}">
    </div>
    <div class="absolute light-wrapper desk-img-set" data-set="Task Light">
        <img data-name="ACC146~blk" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tasklight/3-leg-build-black-light-left.pn"}}">
        <img data-name="ACC146~blk" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tasklight/3-leg-build-black-light-right.pn"}}">
        <img data-name="ACC146~wht" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tasklight/3-leg-build-white-light-left.pn"}}">
        <img data-name="ACC146~wht" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/tasklight/3-leg-build-white-light-right.pn"}}">
    </div>
    <div class="absolute cpu-wrapper desk-img-set" data-set="CPU Holder">
        <img data-name="UPL128~standard" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/cpuholder/3-leg-build-cpu-holder-left.pn"}}">
        <img data-name="UPL128~standard" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/cpuholder/3-leg-build-cpu-holder-right.pn"}}">
        <img data-name="UPL128~spacer" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/cpuholder/3-leg-build-cpu-holder-with-spacer-left.pn"}}">
        <img data-name="UPL128~spacer" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/cpuholder/3-leg-build-cpu-holder-with-spacer-right.pn"}}">
    </div>
    <div class="absolute drawer-wrapper desk-img-set" data-set="Desk Drawer">
        <img data-name="ACC008" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/drawer/3-leg-build-desk-drawer-left.pn"}}">
        <img data-name="ACC008" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/drawer/3-leg-build-desk-drawer-right.pn"}}">
        <!--Small Drawer-->
        <img data-name="STR005" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/drawer/3-leg-build-small-desk-drawer-left.pn"}}">
        <img data-name="STR005" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/drawer/3-leg-build-small-desk-drawer-right.pn"}}">
    </div>
    <div class="absolute promo-wrapper desk-img-set" data-set="Promotional Item">
        <img data-name="UPL145~unboxed" data-ext="L" class="hide" data-src="{{cdn "webdav:img/desk-build-images/mat/3-leg-build-mat-left.pn"}}">
        <img data-name="UPL145~unboxed" data-ext="R" class="hide" data-src="{{cdn "webdav:img/desk-build-images/mat/3-leg-build-mat-right.pn"}}">
    </div>
</div>
</div>