<div id="ModalVideoGallery" class="modal row collapse" data-reveal>
    <div class="video-carousel-buttons small-12 large-3 columns">
        <h4>Choose Your Video</h4>

    </div>
    <div class="video-slider small-12 large-9 columns" data-slick='{
        "dots":true,
        "arrows":false,
        "mobileFirst": true,
        "slidesToShow": 1,
        "slidesToScroll": 1,
        "autoplay": false,
        "infinite": false,
        "draggable": false,
        "appendDots": ".video-carousel-buttons"
    }'>
        {{#each this.list}}
        <div>
            <div class="youtube" id="{{id}}" style="width: 100%;"></div>
            <div class="video-body">
                <h5 class="video-title">{{title_long}}</h5>
            </div>
        </div>
        {{/each}}
    </div>
</div>




